
<script src="../../../../Scripts/bill_business.js"></script>
<link href="../../../../Content/Home.css" rel="stylesheet" />
<style>
    .fywz {
        position: absolute;
    }

</style>
<!--结束-->
<div class="layui-fluid" style="background-color:#ffffff;">
    <div class="m-search">
        <form class="layui-form hcs-form" action="" lay-filter="search" id="bill-search-form">
                <div class="m-search-item" >
                        <input type="text" name="ContractId" autocomplete="off" class="layui-input" placeholder="合同编号" id="ContractId">
                     </div>
            <div class="m-search-item" style="width:200px;">
                <input type="text" name="Content" autocomplete="off" class="layui-input" placeholder="小区名,房间号，姓名，手机号" >
             </div>
             <div class="m-search-item" >
                    <label class="layui-form-label">收租时间</label>
                    <div class="layui-input-inline" style="width: 144px;">
                            <input type="text" name="BeginTime" autocomplete="off" class="layui-input" placeholder="开始时间" id="BeginTime">
                        </div>
                        <div class="layui-input-inline" style="width: 144px;">
                                <input type="text" name="EndTime" autocomplete="off" class="layui-input" placeholder="结束时间" id="EndTime">
                            </div>
                </div>
            <div class="m-search-item">
                    <select name="BillType" id="BillType" lay-filter="Type">
                            <option value="2">账单类型</option>
                            <option value="0">收款账单</option>
                            <option value="1">付款账单</option> 
                    </select>               
            </div>
            <div class="m-search-item">
                    <label class="layui-form-label" style="width: auto;">市</label>
                    <div class="layui-input-inline" style="width: 90px;">
                        <select lay-filter="CityName" name="CityName">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="m-search-item">
                    <label class="layui-form-label" style="width: auto;">区</label>
                    <div class="layui-input-inline" style="width: 90px;">
                        <select lay-filter="AreaName" name="AreaName">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="m-search-item">
                    <label class="layui-form-label" style="width: auto;">小区</label>
                    <div class="layui-input-inline" style="width: 90px;">
                        <select lay-filter="CellName" name="CellName2" multiple="multiple">
                            <option value="">请选择</option>
                        </select>
                        <input type="hidden" name="CellNames" id="CellName">
                    </div>
                </div>
            <div class="m-search-item">
                <button class="layui-btn" lay-submit="" lay-filter="search">搜索</button>
            </div>
           
            <div style="clear:both;"></div>
        </form>
    </div>
    <script id="billbtnscribt" type="text/html">
        {{#  layui.each(d, function(index, item){}}
        {{# if(item.Multiple === 1){}}
        <button class="layui-btn layui-btn-primary {{item.BtnNo}}" id="{{item.BtnNo}}" hturl="{{item.ButtonUrl}}">
            <i class="layui-icon {{item.BtnIcon}}"></i>{{item.BtnName}}
        </button>
        {{# }}}
        {{#   });   }}
    </script>
    <script type="text/html" id="billbtnintable">
            <ul class="layui-nav toolbar-nav">
                <li class="layui-nav-item">
                    <a href="javascript:;" class="show-more">操作</a>
                    <dl class="layui-nav-child"></dl>
                </li>
            </ul>
    </script>
    
    <div id="toolbar">
        <div class="layui-btn-group">
            <div id="bill-button-view" style="overflow:hidden;"></div>
        </div>
    </div>
    <div class="layui-tab layui-tab-card" lay-filter="tabletab">
        <ul class="layui-tab-title" style="margin-bottom:0;">
            <li value="0" class="layui-this">未完成</li>
            <li value="1">已完成</li>
            <li value="2" >所有</li>
        </ul>
        <div class="layui-tab-content" style="padding:0px;margin:0px;">
            <table id="bill-main-table" lay-filter="demoEvent"></table>
        </div>
    </div>
    <div>
    </div>

</div>
<script>

</script>
