

<link href="../../../../Content/Home.css" rel="stylesheet" />
<link href="../../../../Content/hsc-form.css" rel="stylesheet" />
<script type="text/html" template >
    {{#  LoadData(d.params.id,d.params.tableid,d.params.layerindex)}}
</script>
<script type="text/html" template>
    <script src="{{layui.setter.base}}/Scripts/baobiaolist_business.js"></script>
</script>
<!--结束-->
<div class="layui-fluid" style="background-color:#ffffff;">
    <div class="m-search">
        <form class="layui-form  layui-form-pane hcs-form form-panel" action="" >
           <div id="zcontract-add-view" >
           </div>
        </form>
    </div>
    <script id="billbtnscribt" type="text/html">
        {{#  layui.each(d, function(index, item){}}
        {{# if(item.Multiple === 1){}}
        <button class="layui-btn layui-btn-primary {{item.BtnNo}}" id="{{item.BtnNo}}" hturl="{{item.ButtonUrl}}">
            <i class="layui-icon {{item.BtnIcon}}"></i>{{item.BtnName}}
        </button>
        {{# }}}
        {{#   });   }}
    </script>
    <script type="text/html" id="billbtnintable">
            <ul class="layui-nav toolbar-nav">
                <li class="layui-nav-item">
                    <a href="javascript:;" class="show-more">操作</a>
                    <dl class="layui-nav-child"></dl>
                </li>
            </ul>
    </script>
    
    <div id="toolbar">
        <div class="layui-btn-group">
            <div id="bill-button-view" style="overflow:hidden;"></div>
        </div>
    </div>
    <div class="layui-tab layui-tab-card" lay-filter="tabletab">
        <ul class="layui-tab-title" style="margin-bottom:0;">
            <li value="0" class="layui-this">所有</li>
        </ul>
        <div class="layui-tab-content" style="padding:0px;margin:0px;">
            <table id="bill-main-table" lay-filter="demoEvent1"></table>
        </div>
    </div>
    <div>
    </div>

</div>

