.form-content {
	height: 700px;     

    flex: 1;
    overflow: auto;
    padding-bottom: 61px;
}
.form-bottom
{background-color: #e2e2e2;
    width: 100%;
    border-top: 1px solid #e2e2e2;
    height: 70px;
    bottom: 0;
    position: absolute;
    z-index: 555;
}
.content{height:700px;overflow-y: scroll;}
.layui-layer-content{position: relative;}
.form-wrap{padding:20px;float:right;padding-top:10px;padding-bottom:10px;}
.content{padding-top: 20px;}
