
<title>系统设置</title>
<link href="../../../../Content/hsc-form.css" rel="stylesheet" />
<link href="../../../../Content/money.css" rel="stylesheet" />
<script src="../../../../Scripts/addbank_business.js"></script>
<script type="text/html" template >
    {{#  LoadData(d.params.id,d.params.tableid,d.params.layerindex)}}
</script>
<div id="addzfb-view" class="form-wrapper"></div>
<script id="sysuereditscript" type="text/html">
    {{#   var doc = layui.htcsLG;}}
    <form class="layui-form  layui-form-pane hcs-form form-panel" action="">  
            <div class="form-content" lay-filter="">
    <div class="layui-form" lay-filter="">
      <div class="layui-form-item">
        <label class="layui-form-label " style="width:120px;">账户名</label>
        <div class="layui-input-inline">
              <input type="text" name="accountname" value=""  autocomplete="off" placeholder=""  class="layui-input">
        </div>
        <label class="layui-form-label " style="width:120px;">账号</label>
        <div class="layui-input-inline">
              <input type="text" name="account" value="" lay-verify="" autocomplete="off" placeholder=""  class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
          <label class="layui-form-label " style="width:120px;">开户行</label>
          <div class="layui-input-inline">
              <select name="bank" id="bank" lay-search lay-verify="required">
                  <option value="">请选择</option>
                  {{#  layui.each(d[1], function(index, item1){ }}
                  <option value="{{item1.Name}}">{{item1.Name}}</option>
                  {{# });   }}   
               </select>
          </div>
          <label class="layui-form-label " style="width:120px;">开户行支行</label>
          <div class="layui-input-inline">
                <input type="text" name="zhbank" value="" lay-verify="required" autocomplete="off" placeholder=""  class="layui-input">
          </div>
      </div>
      <div class="layui-form-item">
              <label class="layui-form-label" style="width:120px;">认证手机号</label>
              <div class="layui-input-inline">
                      <input type="text" value="{{doc.ns(d[0].phone)}}" name="Mobile" id="LAY-user-login-cellphone" lay-verify="phone" placeholder="" disabled class="layui-input">
                  </div>
      </div>
      <div class="layui-form-item">
              <label class="layui-form-label" style="width:120px;">验证码</label>
              <div class="layui-input-inline">
                    <input type="text" name="yzm" value="" lay-verify="required" autocomplete="off" placeholder=""  class="layui-input">
              </div>
              <div class="layui-input-inline">
                <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" id="LAY-user-getsmscode">获取验证码</button>
                <span class="time" id="timeout"><i>60</i>秒重新获取</span>
            </div>
              
      </div>  
    </div>
    </div>
      <div class="form-bottom">
        <div class="form-wrap">
            <button class="layui-btn layui-btn layui-btn-primary" id="cancelbtn" >取消</button>
            <button class="layui-btn" id="save" lay-filter="save" lay-submit="">保存</button>
        </div>
</div>
   
  </form>
</script>
  