
<title>系统设置</title>
<link href="../../../../Content/hsc-form.css" rel="stylesheet" />
<script src="../../../../Scripts/password_business.js"></script>
<script src="../../../../Scripts/Common/md5.js"></script>
<link href="../../../../Content/money.css" rel="stylesheet" />

<script id="sysuereditscript" type="text/html">
    {{#   var doc = layui.htcsLG;}}
    <form class="layui-form layui-form-pane hcs-form" action="">
      <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px;">新密码</label>
        <div class="layui-input-inline">
              <input   name="Password" value="" lay-verify="required" autocomplete="off" placeholder=""  class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
              <label class="layui-form-label" style="width:120px;">认证手机号</label>
              <div class="layui-input-inline">
                      <input type="text" value="{{doc.ns(d.Mobile)}}" name="Mobile" id="LAY-user-login-cellphone" lay-verify="phone" placeholder="" disabled class="layui-input">
                  </div>
          </div>
      <div class="layui-form-item">
              <label class="layui-form-label" style="width:120px;">验证码</label>
              <div class="layui-input-inline">
                    <input type="text" name="yzm" value="" lay-verify="required" autocomplete="off" placeholder=""  class="layui-input">
              </div>
              <div class="layui-input-inline">
                      <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" id="LAY-user-getsmscode">获取验证码</button>
                      <span class="time" id="timeout"><i>60</i>秒重新获取</span>
                    
                    </div>
              
      </div>  
         <div class="layui-form-item">
        <div class="layui-input-block">
                <button class="layui-btn" id="save" lay-filter="save" lay-submit="">保存</button>        </div>
      </div>
    </div>
  </form>
</script>
<div class="layui-row layui-col-space10 rowtop">
    <div class="layui-col-md1 text-center">
        <ul class="setting-catagery-list">
            <li><a lay-href="set/base/password" class="current">修改密码</a></li>
        </ul>
    </div>
    <div class="layui-col-md11">
            <div class="layui-card">
                    <div class="layui-card-header">修改密码</div>
                    <div class="layui-card-body" pad15>
                            <div id="sysuer-edit-view" >
                            </div>
                    </div>
                  </div>
    </div>
   
  </div>
 
  