
<title>系统设置</title>
<script src="../../../../Scripts/receive_business.js"></script>
<script src="../../../../Scripts/hmenu.js"></script>
<link href="../../../../Content/Home.css" rel="stylesheet" />
<link href="../../../../Content/money.css" rel="stylesheet" />
<script id="sysuerbtnscribt" type="text/html">
        {{#  layui.each(d, function(index, item){}}
        {{# if(item.Multiple === 1){}}
        <button class="layui-btn layui-btn-primary {{item.BtnNo}}" id="{{item.BtnNo}}" hturl="{{item.ButtonUrl}}">
            <i class="layui-icon {{item.BtnIcon}}"></i>{{item.BtnName}}
        </button>
        {{# }}}
        {{#   });   }}
</script>
<script id="storescript" type="text/html">
        <ul class="setting-catagery-list">
                {{#  layui.each(d, function(index, item1){ }}
                {{#  if(item1.name=="set/base/receive"){ }}
                <li><a lay-href="{{item1.name}}" class="current">{{item1.title}}</a></li>
                {{#  }else{ }}
                <li><a lay-href="{{item1.name}}">{{item1.title}}</a></li>
                {{#  } }}
               
                {{# });   }}  
                
            </ul>
</script>
<div class="layui-row layui-col-space10 rowtop">
    <div class="layui-col-md1 text-center">
        <div id="sysuer-edit-view"></div>
    </div>
    <div class="layui-col-md11">
            
           
                 
    <script id="guestbtnscribt" type="text/html">
       
    </script>
   <script type="text/html" id="btnintable">
        <ul class="layui-nav toolbar-nav">
            <li class="layui-nav-item">
                <a href="javascript:;" class="show-more">操作</a>
                <dl class="layui-nav-child"></dl>
            </li>
        </ul>
</script>
    <div id="toolbar">
        <div class="layui-btn-group">
            <div id="guest-button-view" style="overflow:hidden;"></div>
           
        </div>
    </div>
    <div class="layui-tab layui-tab-card" lay-filter="tabletab" style="background-color: white;">
        
        <div class="layui-tab-content" style="padding:0px;margin:0px;">
            <table id="guest-main-table" lay-filter="demoEvent"></table>
        </div>
    </div>
    </div>
   
  </div>