
<title>系统设置</title>
<script src="../../../../Scripts/tx_business.js"></script>
<link href="../../../../Content/Home.css" rel="stylesheet" />
<link href="../../../../Content/money.css" rel="stylesheet" />


<div class="layui-row layui-col-space10 rowtop">
    <div class="layui-col-md1 text-center">
        <ul class="setting-catagery-list">
            <li><a lay-href="set/base/money" >钱包总帐</a></li>
          
            <li><a lay-href="set/base/tixian" class="current">提现记录</a></li>
            <li><a lay-href="set/base/receive">收款账号</a></li>
        </ul>
    </div>
    <div class="layui-col-md11">
            
            <div class="m-search" style="background-color: #e0e7ec;padding-top: 20px;padding-bottom: 20px;">
                    <form class="layui-form hcs-form" action="" lay-filter="search" id="guest-search-form">
                        <div class="m-search-item" >
                            <label class="layui-form-label">创建时间</label>
                            <div class="layui-input-inline" style="width: 144px;">
                                    <input type="text" name="BeginTime" autocomplete="off" class="layui-input" placeholder="开始时间" id="BeginTime">
                                </div>
                                <div class="layui-input-inline" style="width: 144px;">
                                        <input type="text" name="EndTime" autocomplete="off" class="layui-input" placeholder="结束时间" id="EndTime">
                                    </div>
                        </div>
                        <div class="m-search-item">
                            <select name="Status" lay-verify="" id="Status">
                               <option value="">状态</option>                           
                               <option value="0">待转账</option>
                               <option value="1" >已转账</option>
                            </select>  
                        </div>
                        
                       
                        <div class="m-search-item">
                            <button class="layui-btn" lay-submit="" lay-filter="search">搜索</button>
                        </div>
                        
                        <div style="clear:both;"></div>
                    </form>
                </div>
                 
    <script id="guestbtnscribt" type="text/html">
       
    </script>
<script type="text/html" id="btnintable">
        <ul class="layui-nav toolbar-nav">
            <li class="layui-nav-item">
                <a href="javascript:;" class="show-more">操作</a>
                <dl class="layui-nav-child"></dl>
            </li>
        </ul>
</script>
    <div id="toolbar">
        <div class="layui-btn-group">
            <div id="guest-button-view" style="overflow:hidden;"></div>
           
        </div>
    </div>
    <div class="layui-tab layui-tab-card" lay-filter="tabletab" style="background-color: white;">
        
        <div class="layui-tab-content" style="padding:0px;margin:0px;">
            <table id="guest-main-table" lay-filter="demoEvent"></table>
        </div>
    </div>
    </div>
   
  </div>