
   <link href="../../../../Content/hsc-form.css" rel="stylesheet" />
   <style>
       .yxr-red {
         color: #ff4b5e!important;
     }
     .hand {
    cursor: pointer;
    }
   </style>
   <script type="text/html" template >
       {{#  LoadData(d.params.tableid,d.params.layerindex)}}
   </script>
   <script id="zbankscript" type="text/html">
    <div class="layui-form-item">
            <label class="layui-form-label " style="width:120px;">选择收款账号</label>
            <div class="layui-input-inline">
                <select name="accountbankid" id="accountbankid" lay-verify="required" lay-search style="width:150px;">
                    <option value="">请选择</option>
                    {{#  layui.each(d, function(index, item1){ }}
                    {{#  if(item1.type==1){ }}
                    <option value="{{item1.Id}}">支付宝:{{item1.account}}</option>
                    {{# }else{ }}
                    <option value="{{item1.Id}}">银行卡：{{item1.account}}</option>
                    {{# }; });   }}
                  
                 </select>
            </div>
        </div>
   </script> 
   <div id="sysuer-edit-view" >
    </div>
   <div  class="child-view form-wrapper">
        <form class="layui-form  layui-form-pane hcs-form form-panel" action="">            
           <div class="form-content">
            <div id="addzfb-view" ></div>  
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:auto;">转出金额
                        </label>
                    <div class="layui-input-inline">
                        <input type="text" name="amount" id="amount" lay-verify="required" autocomplete="off" class="layui-input" placeholder="转出金额" id="Name">
                    </div>
                    <div class="layui-input-inline">
                            <a class="hand yxr-red" id="allamount"><span>全部提现</span></a>
                    </div>
                   
                </div>
            </div>
            <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:auto;">支付密码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="password" lay-verify="required" autocomplete="off" class="layui-input" placeholder="支付密码" id="Name">
                        </div>
                        <a class="hand yxr-red"  lay-href="set/base/paypassword" >忘记支付密码？去设置</a>
                    </div>
            </div>
            <div class="layui-form-item">
                    <div class="layui-inline">
                            可实时到账金额: 0元
                            若转出金额大于“可实时到账金额”, 按以下规则到账:
                            (i) 15:00前提现: T+1到账; (ii) 15:00后提现: T+2到账
                    </div>
            </div>
            </div>
           <div class="form-bottom">
               <div class="form-wrap">
                   <button class="layui-btn layui-btn-primary" id="cancelbtn" >取消</button>
                   <button class="layui-btn"  lay-filter="save" lay-submit="">确认转出</button>
               </div>
           </div>
       </form>
    </div>
  

<script>

function LoadData(tableid,layerindex){
           layui.use(['laypage', 'layer', 'htcsLG','laytpl', 'jquery', 'form','element'], function () {
           var laytpl = layui.laytpl;
           var doc = layui.htcsLG;
           var $ = layui.jquery;
           var form = layui.form;
           var element = layui.element;
           var type=1;
           var url = "api/Account/list";
           doc.objectQuery(url, {}, function (data) {
             debugger;
             var realdata=data.numberData;
             var getTpl = zbankscript.innerHTML
             ,view = document.getElementById('addzfb-view');
             laytpl(getTpl).render(data.numberData, function (html) {
                 view.innerHTML = html;
             }); 
             form.render('');
             $("#cancelbtn").click(function(){
             layer.close(layerindex);
             })
             $("#allamount").click(function(){
                 debugger;
                doc.objectQuery("api/Enterprise/querycompany", {}, function (data) {
                       $("#amount").val(data.numberData.Amount);
                })
             })
            
             //监听提交
            form.on('submit(save)', function (data) {
            debugger;
            data.field.type=type;
            
            var saveoption={
            url:'api/Account/withdrawal',
            data:data.field,
            tableid:tableid,
            callBack:function(data){
                if(data.Code==0){
                    layer.close(layerindex);
                }
           
            }
     }
     doc.Submit(saveoption);
     return false;
     });   
    
    });
         
   
  
       });
   }       
   </script>
