
   <link href="../../../../Content/hsc-form.css" rel="stylesheet" />
   
   <script type="text/html" template >
       {{#  LoadData(d.params.tableid,d.params.layerindex)}}
   </script>
   
       <form class="layui-form hcs-form form-wrapper" action="">
           <div class="form-content">
            <div class="layui-form-item">
                    <label class="layui-form-label" style="width:auto;">所在市</label>
                    <div class="layui-input-inline" style="width: auto;">
                        <select lay-filter="CityName" name="CityName" lay-search></select>
                    </div>
                    <label class="layui-form-label" style="width: auto;">所在区</label>
                    <div class="layui-input-inline" style="width:auto;">
                        <select lay-filter="AreaName" name="AreaName" lay-search></select>
                    </div>
                    
            </div>
            <div class="layui-form-item">
                 
                    <div class="layui-inline">
                    <label class="layui-form-label" style="width:auto;">门店名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input" placeholder="名称" id="Name">
                    </div>
                    </div>
            </div>
            </div>
           <div class="form-bottom">
               <div class="form-wrap">
                   <button class="layui-btn layui-btn-primary" id="cancelbtn" >取消</button>
                   <button class="layui-btn"  lay-filter="save" lay-submit="">保存</button>
               </div>
           </div>
       </form>
   
  

<script>

function LoadData(tableid,layerindex){
           layui.use(['laypage', 'layer', 'htcsLG','laytpl', 'jquery', 'form'], function () {
           var laytpl = layui.laytpl;
           var doc = layui.htcsLG;
           var url = "api/Menu/Querymenu";
           var $ = layui.jquery;
           var form = layui.form;
           form.render('');
           doc.tjgd();
           $("#cancelbtn").click(function(){
           layer.close(layerindex);
           })
           // 三级联动数据
    var leftFilter = {
        currentProvince: '',
        currentCity: '',
        currentArea: '',
        provinceOptions: [],
        cityOptions: [],
        areaOptions: [],
        provinceList: [],
        cityList: [],
        areaList: []
    }
           var filterUrl = 'api/Formatter/Querystore';
           initFilter();
           function initFilter(){
           doc.objectQuery(filterUrl, {"Type": '0'}, function (data) {
           var provinceList = data.numberData;
           var cityList = [];
           var provinceOptions = [];
           var currentProvince = leftFilter.currentProvince;
           for (var i in provinceList) {
              cityList = provinceList[i].mallCityList; 
              provinceOptions.push('<option value="'+ provinceList[i].provinceName +'">'+ provinceList[i].provinceName +'</option>');
           }
           leftFilter.provinceOptions  = provinceOptions;
           leftFilter.cityList = cityList;
           leftFilter.provinceList = provinceList;
           selectProvince();
           $('select[name="CityName"]').append(leftFilter.provinceOptions.join(''));
           $('select[name="AreaName"]').append(leftFilter.cityOptions.join(''));
           // $('.area-list').append(leftFilter.areaOptions.join(''))
           form.render();
      })
    }

    form.on('select(CityName)', function (data) {
        leftFilter.currentProvince = data.value;
        for (let i in leftFilter.provinceList) {
            if (leftFilter.currentProvince === leftFilter.provinceList[i].provinceName) {
                leftFilter.cityList = leftFilter.provinceList[i].mallCityList;
            }
        }
        selectProvince();
        $('select[name="AreaName"]').html(leftFilter.cityOptions.join(''));
        form.render();
        $('#zcontract-search-form button[lay-filter="search"]').click();
    })

    form.on('select(AreaName)', function (data) {
        leftFilter.currentCity = data.value;
        for (let i in leftFilter.cityList) {
            if (leftFilter.currentCity === leftFilter.cityList[i].cityName) {
                leftFilter.areaList = leftFilter.cityList[i].mallAreaList;
            }
        }
        selectCity();
        $('select[name="CellName2"]').html(leftFilter.areaOptions.join(''));
        form.render();
        multiSelect.init();
        $('#zcontract-search-form button[lay-filter="search"]').click();
    })

    form.on('select(CellName)', function (data) {
      var vals = []
      $('.layui-form-checked span').each(function() {
        vals.push($(this).text());
      })
      $('#CellName').val(vals.join(','));
      $('#zcontract-search-form button[lay-filter="search"]').click();
    })

    function selectProvince () {
            var provinceList = leftFilter.provinceList;
            var currentProvince =  leftFilter.currentProvince;
            var cityList = leftFilter.cityList;
            var cityOptions = [];
            var currentCity = '';
            var areaList = [];
            areaList = getAreaList();
            cityOptions.push('<option value="">请选择</option>');
            for (var i in cityList) {
                cityOptions.push('<option value="'+ cityList[i].cityName +'">'+ cityList[i].cityName +'</option>')
            }
            
            leftFilter.areaList = areaList;
            leftFilter.cityOptions = cityOptions;

            selectCity();
        }

        function getAreaList () {
            var cityList = leftFilter.cityList;
            var areaList = [];
            for (var i in cityList) {
                areaList = [].concat(areaList, cityList[i].mallAreaList || []);
            }
            return areaList;
        }

        function selectCity () {
            var areaList = leftFilter.areaList;
            var cityList = leftFilter.cityList;
            var areaOptions = [];
            var currentArea = '';
            areaOptions.push('<option value="">请选择</option>');
            for (var i in areaList) {
                areaOptions.push('<option value="'+ areaList[i].areaName +'">'+ areaList[i].areaName +'</option>')
            }
            
            leftFilter.areaOptions = areaOptions;
        }
        
 
           
           debugger;
           //监听提交
        form.on('submit(save)', function (data) {
         var saveoption={
         url:'api/store/save',
         data:data.field,
         tableid:tableid,
         callBack:function(){
            layer.close(layerindex);
       }
     }
     doc.Submit(saveoption);
     return false;
   });
   
  
       });
   }       
   </script>
