
<link href="../../../../Content/hsc-form.css" rel="stylesheet" />
   
<script type="text/html" template >
    {{#  LoadData(d.params.id,d.params.tableid,d.params.layerindex)}}
</script>
<script id="editzafeiscript" type="text/html">
 {{# var doc = layui.htcsLG;}}
 <form class="layui-form layui-form-pane hcs-form form-panel" action="" id="add-bill-form">          <div class="form-content">
                <div class="layui-form-item address-form"> 
             
                        <div class="layui-inline"> 
                                <label class="layui-form-label">城市</label> 
                               
                                    <select name="CityName" id="CityName" lay-filter="CityName"  lay-verify="required" lay-search></select>
                                </div>
                                <div class="layui-inline"> 
                                    <label class="layui-form-label">区域</label> 
                              
                                    <select name="AreaName" id="AreaName" lay-filter="AreaName"   lay-verify="required"></select>
                                </div> 
                        
                    </div>
                
          <div class="layui-form-item">
             
              <div class="layui-inline">
                  <label class="layui-form-label" style="width:auto;">门店名称</label>
                  <div class="layui-input-inline">
                      <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input" placeholder="名称" id="Name" value="{{doc.ns(d.Name)}}">
                  </div>
              </div>
              
          </div>
          
          
             </div>
         <div class="form-bottom">
             <div class="form-wrap">
            
                <button class="layui-btn"  lay-filter="save" lay-submit="">保存</button>
             </div>
         </div>
     </form>
 
</script>
<div id="edit-zafei-view" class="form-wrapper">
</div>


<script>

function LoadData(id,tableid,layerindex){
        layui.use(['laypage', 'layer', 'htcsLG','laytpl', 'jquery', 'form'], function () {
        var laytpl = layui.laytpl;
        var doc = layui.htcsLG;
        var url = "api/store/Queryid";
        var $ = layui.jquery;
        var form = layui.form;
        var leftFilter = {
        currentProvince: '',
        currentCity: '',
        currentArea: '',
        provinceOptions: [],
        cityOptions: [],
        areaOptions: [],
        provinceList: [],
        cityList: [],
        areaList: []
        }
           var filterUrl = 'api/Formatter/Querystore';
         
           function initFilter(){
           doc.objectQuery(filterUrl, {"Type": '0'}, function (data) {
           var provinceList = data.numberData;
           var cityList = [];
           var provinceOptions = [];
           var currentProvince = leftFilter.currentProvince;
           for (var i in provinceList) {
              cityList = provinceList[i].mallCityList; 
              provinceOptions.push('<option value="'+ provinceList[i].provinceName +'">'+ provinceList[i].provinceName +'</option>');
           }
           leftFilter.provinceOptions  = provinceOptions;
           leftFilter.cityList = cityList;
           leftFilter.provinceList = provinceList;
           selectProvince();
           $('select[name="CityName"]').append(leftFilter.provinceOptions.join(''));
           $('select[name="AreaName"]').append(leftFilter.cityOptions.join(''));
           debugger;
           $('select[name="CityName"]').val(leftFilter.currentProvince);
           $('select[name="AreaName"]').val(leftFilter.currentCity);
           form.render();
      })
    }

    function selectProvince () {
            var provinceList = leftFilter.provinceList;
            var currentProvince =  leftFilter.currentProvince;
            var cityList = leftFilter.cityList;
            var cityOptions = [];
            var currentCity = '';
            var areaList = [];
            areaList = getAreaList();
            cityOptions.push('<option value="">请选择</option>');
            for (var i in cityList) {
                cityOptions.push('<option value="'+ cityList[i].cityName +'">'+ cityList[i].cityName +'</option>')
            }
            leftFilter.areaList = areaList;
            leftFilter.cityOptions = cityOptions;
           
            selectCity();
        }
        function getAreaList () {
            var cityList = leftFilter.cityList;
            var areaList = [];
            for (var i in cityList) {
                areaList = [].concat(areaList, cityList[i].mallAreaList || []);
            }
            return areaList;
        }
        function selectCity () {
            var areaList = leftFilter.areaList;
            var cityList = leftFilter.cityList;
            var areaOptions = [];
            var currentArea = '';
            areaOptions.push('<option value="">请选择</option>');
            for (var i in areaList) {
                areaOptions.push('<option value="'+ areaList[i].areaName +'">'+ areaList[i].areaName +'</option>')
            }
            leftFilter.areaOptions = areaOptions;
        }  
        doc.objectQuery(url, {"Id":id}, function (data) {
             debugger;
             leftFilter.currentProvince= data.numberData.CityName;
             leftFilter.currentCity= data.numberData.AreaName;
             var getTpl = editzafeiscript.innerHTML
           , view = document.getElementById('edit-zafei-view');
             laytpl(getTpl).render(data.numberData, function (html) {
                 view.innerHTML = html;
             });
             form.render('');
             initFilter();
             form.on('select(CityName)', function (data) {
             leftFilter.currentProvince = data.value;
            for (let i in leftFilter.provinceList) {
            if (leftFilter.currentProvince === leftFilter.provinceList[i].provinceName) {
                leftFilter.cityList = leftFilter.provinceList[i].mallCityList;
            }
            }
            selectProvince();
        $('select[name="AreaName"]').html(leftFilter.cityOptions.join(''));
        form.render();
       })
        form.on('select(AreaName)', function (data) {
        leftFilter.currentCity = data.value;
        for (let i in leftFilter.cityList) {
            if (leftFilter.currentCity === leftFilter.cityList[i].cityName) {
                leftFilter.areaList = leftFilter.cityList[i].mallAreaList;
            }
        }
        selectCity();
        $('select[name="CellName2"]').html(leftFilter.areaOptions.join(''));
        form.render();
      
    })
    form.on('select(CellName)', function (data) {
      var vals = []
      $('.layui-form-checked span').each(function() {
        vals.push($(this).text());
      })
      $('#CellName').val(vals.join(','));
    })
                 //监听提交
           form.on('submit(save)', function (data) {
           data.field.Id=id;
          
           var saveoption={
           url:'api/store/save',
           data:data.field,
           tableid:tableid,
           callBack:function(){
           layer.close(layerindex);
       }
     }
     doc.Submit(saveoption);
     return false;
 });    
         });
    });
}       
</script>
