
<link href="../../../../Content/Home.css" rel="stylesheet" />
<link href="../../../../Content/hsc-form.css" rel="stylesheet" />
<style>
    .hand {
    cursor: pointer;
}
img {
    vertical-align: middle; border: 0;
}.house-img {
    height: 140px;
    height: 140px;
}
.edit-house-info-dialog .house-img-all {
    width: 100%;
    height: 100%;
}

</style>
<script>
       var imageurl="";
      function LoadDataedit(id,tableid,layerindex){
        layui.use(['laypage', 'layer', 'laytpl', 'jquery', 'form'], function () {
            var laytpl = layui.laytpl;
            var doc = layui.htcsLG;
            var $ = layui.jquery;
            var form = layui.form;
            var deletebilllist=[];
            var table=layui.table;
            var url = "api/House/Querydepent";
            var tsurl='api/BaseData/Query';
            var doc = layui.htcsLG;   
            var allresult = [];
            var para={"teseorpeibei":0,"type":2};
            var getTpl = billeditscript1.innerHTML
             , view = document.getElementById('bill-edit-view1');
             var alldata=[];

            //加载编辑数据和门店数据
            doc.objectQuery(tsurl, para, function (result) {
                alldata.push(result.numberData);
                doc.objectQuery(url, { "Id": id }, function (data) {
                alldata.push(data.numberData);
                var image=alldata[1].PrivateImage;
                var arr=new Array();
                    if(image!=null&&image!="undefined"){
                    image=image.substring(0,image.length-1);
                    arr=image.split(';');
                    imageurl=alldata[1].PrivateImage;
                }
                alldata.push(arr);
               
                laytpl(getTpl).render(alldata, function (html) {
                view.innerHTML = html;
                doc.tjgd();
                $("#Status").val(data.numberData.Status);
                $("#Orientation").val(alldata[1].Orientation);
                $("#Huxing").val(data.numberData.Huxing);
               
                form.render('');
               
                $("#addimage").click(function () {
                  debugger
                 var addid="layui-contract-addimage";
                 var view = layui.view;
                 layer.open({
                    id:addid,
                    type: 1,
                    title: '上传文件',
                    skin: 'two-layer',
                    //anim: 4,
                    shadeClose: true,//开启遮罩关闭
                    //shade: ['0.5'],
                    maxmin: true, //开启最大化最小化按钮
                    area:['800px', '500px'],
                    success: function(layero,index){
                        view(this.id).render('upload/index', {
                            img:imageurl,
                            type:1,
                            layerindex:index
                           
                        });
                        
                      }
                });  
               
               }); 
             });
             });   
            });
            //监听提交
            form.on('submit(save)', function (data) {
            data.field.Id=id;
            var arr=doc.getcheckbox("#peibei");
            data.field.PrivatePeibei=arr;
            var arr1=doc.getcheckbox("#tese");
            data.field.PrivateTeshe=arr1;
            data.field.PrivateImage=imageurl;
            var saveoption={
            url:'api/House/editsavepentHouse',
            data:data.field,
            tableid:tableid,
            callBack:function(resultData){
            if (resultData.Code == 0) {
                layer.close(layerindex);
                layui.index.render();
            }
            }
           }
           doc.Submit(saveoption);
           return false;
         });
         $("#cancelbtn1").click(function(){
            layer.close(layerindex);
            return false;
         });
        
        });
      
      }
      function complteimg(name,type, number){
            layui.use(['jquery'], function () {
            var $ = layui.jquery;
            imageurl=name;
            var arr=parsearry(name);
            var dom="";
            var setter = layui.setter;
            var imgurl = setter.imgurl;
            $.each(arr,function(index,value){
                 dom+='<div class="layui-col-xs2"><div><img class="house-img-all house-img hand" src="'+imgurl+value+'"></div></div>';
            });
           $("#himage").html(dom);
        });
       }
       function  parsearry(img){
        var arr=new Array();
        if(img!=null){
            img=img.substring(0,img.length-1);
            arr=img.split(';');
        }
        return arr;
       }  
       function  parsesign(value){
           if(value==0){
              return  "未知";
            }
            if(value==1){
              return  "到期";
            }
            if(value==2){
                return  "违约";
            }
            if(value==3){
                return  "转租";
            }
            if(value==4){
                return  "新房";
            }
            if(value==5){
                return  "协议退房";
            }
       } 
</script>
<script type="text/html" template >
    {{#  LoadDataedit(d.params.id,d.params.tableid,d.params.layerindex)}}
</script>
<script id="billeditscript1" type="text/html">
    {{#  var setter = layui.setter;var imgurl = setter.imgurl;var doc = layui.htcsLG; }}
    <div class="form-content">
            <input type="text" name="Id" id="Id" autocomplete="off" class="layui-input" value="{{d[1].Id}}" style="display:none" /> 
             <div class="layui-form-item"> 
              <div class="layui-inline"> 
               <label class="layui-form-label" style="text-align:left;width:auto;">房间名称</label> 
               <div class="layui-input-inline" style="width:270px;"> 
                <input type="tel" name="Name" autocomplete="off" class="layui-input" value="{{d[1].Name}}"  /> 
               </div> 
              </div> 
              <div class="layui-inline"> 
               <label class="layui-form-label">报价</label> 
               <div class="layui-input-inline"> 
                <input type="text" name="Price" autocomplete="off" class="layui-input" value="{{d[1].Price}}"  /> 
               </div> 
               
               <label class="layui-form-label">成本价</label> 
               <div class="layui-input-inline"> 
                <input type="text" name="costprice" autocomplete="off" class="layui-input" value="{{d[1].costprice}}"  /> 
               </div> 
              </div> 
             </div> 
             <div class="layui-form-item"> 
              <div class="layui-inline"> 
               <label class="layui-form-label" style="text-align:left;width:auto;">出租状态</label> 
               <div class="layui-input-inline" style="width: 122px;"> 
                <select name="Status" lay-verify="" id="Status" disabled>
                    <option value="">请选择</option>
                    <option value="1">未租</option>
                    <option value="2">已租</option>
                    <option value="3" >装修中</option>
                </select>  
               </div> 
              </div> 
              <div class="layui-inline"> 
               <label class="layui-form-label">户型</label> 
               <div class="layui-input-inline"> 
                    <select name="Huxing" lay-verify="" id="Huxing">
                            <option value="">请选择</option>
                            <option value="客卧">客卧</option>
                            <option value="主卧">主卧</option>
                            <option value="次卧" >次卧</option>
                            <option value="一室一厅" >一室一厅</option>
                            <option value="二室一厅" >二室一厅</option>
                            <option value="三室一厅" >三室一厅</option>
                    </select>  
               </div> 
              </div> 

              <div class="layui-inline"> 
                    <label class="layui-form-label">房源标记</label> 
                    <div class="layui-input-inline"> 
                         <select name="sign" lay-verify="" id="sign">
                                 <option value="{{d[1].sign}}">{{parsesign(d[1].sign)}}</option>
                                 <option value="1">转租</option>
                                 <option value="4">新房</option>
                         </select>  
                    </div> 
                   </div> 

             </div> 
             <div class="layui-form-item"> 
              <div class="layui-inline"> 
               <label class="layui-form-label" style="text-align:left;width:auto;">朝向</label> 
               <div class="layui-input-inline"> 
                    <select name="Orientation" lay-verify="" id="Orientation">
                            <option value="">请选择</option>
                            <option value="东">东</option>
                            <option value="西">西</option>
                            <option value="南">南</option>
                            <option value="北">北</option>
                            <option value="东南">东南</option>
                            <option value="东北">东北</option>
                            <option value="西南">西南</option>
                            <option value="西北">西北</option>
                            <option value="南北">南北</option>
                            <option value="其他">其他</option>
                    </select>  
               </div> 
               <label class="layui-form-label" style="text-class="layui-form-label" style="text-align:left;width:auto;">面积</label> 
               <div class="layui-input-inline"> 
                <input type="text" name="Measure" autocomplete="off" class="layui-input" value="{{d[1].Measure}}"  /> 
               </div> 
              </div> 
             </div> 
             <div class="layui-form-item"> 
              <div class="layui-inline"> 
               <label class="layui-form-label" style="text-align:left;width:auto;">特色</label> 
               <div class="layui-input-inline" style="width:auto;" id="tese">
                {{#  layui.each(d[1].listtese, function(index, item1){ }}
                {{#  if(item1.IsCheck==1){ }}
                <input type="checkbox" name="PublicPeibei" value="{{item1.Name}}" title="{{item1.Name}}" lay-filter="zafei"  checked >
                {{# }else{ }}
                    <input type="checkbox" name="PublicPeibei" value="{{item1.Name}}" title="{{item1.Name}}" lay-filter="zafei">
                {{# }; });   }}
              </div>
              </div> 
              <div class="layui-form-item"> 
                  <div class="layui-inline"> 
                   <label class="layui-form-label" style="text-align:left;width:auto;">配备</label> 
                   <div class="layui-input-inline" style="width:auto;" id="peibei">
                    {{#  layui.each(d[1].listpeibei, function(index, item1){ }}
                    {{#  if(item1.isCheck==1){ }}
                    <input type="checkbox" name="PublicPeibei" value="{{item1.Name}}" title="{{item1.Name}}" lay-filter="zafei" checked >
                    {{# }else{ }}
                        <input type="checkbox" name="PublicPeibei" value="{{item1.Name}}" title="{{item1.Name}}" lay-filter="zafei" >
                    {{# }; });   }}
                  </div>
                  </div>
             </div> 
             <div class="layui-form-item"> 
                    <label class="layui-form-label">备注</label> 
                    <div class="layui-input-inline"> 
                            <textarea name="Remarks" style="width:380px;"  placeholder="请输入内容" class="layui-textarea">{{d[1].Remarks}}</textarea>
                    </div> 
            </div>
              <!--永昌-->
            <!--  <div class="layui-form-item"> 
                    <div class="layui-inline"> 
                     <label class="layui-form-label">第一年</label> 
                     <div class="layui-input-inline"> 
                      <input type="text" name="yeara"   value="{{d[1].yeara}}"  autocomplete="off" class="layui-input"  /> 
                     </div> 
                  </div> 
                     <div class="layui-inline"> 
                      <label class="layui-form-label">第二年</label> 
                      <div class="layui-input-inline"> 
                       <input type="text" name="yearb"  value="{{d[1].yearb}}" autocomplete="off" class="layui-input" /> 
                      </div> 
                     </div> 
                     <div class="layui-inline"> 
                      <label class="layui-form-label">第三年</label> 
                      <div class="layui-input-inline"> 
                       <input type="text" name="yearc"  value="{{d[1].yearc}}" autocomplete="off"  lay-verify="required"  class="layui-input"  /> 
                      </div> 
                     </div> 
                     <div class="layui-inline"> 
                            <label class="layui-form-label">第四年</label> 
                            <div class="layui-input-inline"> 
                             <input type="text" name="yeard"  value="{{d[1].yeard}}" autocomplete="off"  lay-verify="required"  class="layui-input"  /> 
                            </div> 
                    </div> 
                    <div class="layui-inline"> 
                            <label class="layui-form-label">第五年</label> 
                            <div class="layui-input-inline"> 
                             <input type="text" name="yeare"  value="{{d[1].yeare}}" autocomplete="off"  lay-verify="required"  class="layui-input"  /> 
                            </div> 
                    </div>        
            </div> -->
             <div class="title"> 
                <h3 class="red"> 图片信息</h3> 
               </div> 
               <div class="layui-form-item"> 
                <div class="layui-inline"> 
                   <a class="layui-btn layui-btn-warm" id="addimage">添加/修改/删除 照片</a>
                </div> 
               </div>  
               <div class="layui-row" id="himage">
                     {{#  layui.each(d[2], function(index, item1){ }}
                     <div class="layui-col-xs2">
                             <div>
                              <img class="house-img-all house-img hand" src="{{imgurl}}{{item1}}">
                             </div>
                     </div>
                     {{# });   }}                          
                </div>

            </div> 
          </div>
         </script>
            <form class="layui-form layui-form-pane hcs-form" action=""> 
                    <div id="bill-edit-view1" class="child-view">
                        </div>
                  <div class="form-bottom">
                    <div class="form-wrap">
                        <button class="layui-btn layui-btn layui-btn-primary" id="cancelbtn1" >取消</button>
                        <button class="layui-btn" id="save" lay-filter="save" lay-submit="">保存</button>
                    </div>
                   </div>  
           </form> 
               
    
