@{
Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>InterView</title>
    <link href="../../../../Content/Home.css" rel="stylesheet" />
    <link href="../../../../Content/hsc-form.css" rel="stylesheet" />
    <style>
        .buttonleft{margin-left: 30px;}
        .house-img{width: 140px;height: 140px;cursor: pointer;}
        .img-wrap{
          position: relative;
          width: 140px;
          height: 140px;
        }
        .img-wrap .view,
        .img-wrap .download{
          position: absolute;
          left: 5px;
          font-size: 30px;
          cursor: pointer;
          color: #5FB878;
          top: 4px;
        }
        .img-wrap .download{
          right: 5px;
          left: initial;
        }
        .opes{
          position: absolute;
          height: 40px;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0,0,0,.5);
        }
    </style>
    <script>
        var houseid=0;
         function LoadData(id,ParentRoomid,layerindex){
            houseid=id;
            layui.use(['laypage','htcsradio', 'layer', 'laytpl', 'jquery', 'form','element','setter'], function(){
            var url = "api/House/Querydepent";
            var para={"teseorpeibei":0,"type":2};
            var tsurl='api/BaseData/Query';
            var gqurl="api/House/publicHousexq";
            var laytpl = layui.laytpl;
            var setter = layui.setter;
            var baseurl = setter.baseurl;
            var doc = layui.htcsLG;
            var util = layui.util;
            var paradata = { "Id": id, "ParentRoomid": ParentRoomid };
            var getTpl = housescript.innerHTML
             , view = document.getElementById('house-edit-view');
             var element = layui.element;
             var form = layui.form;
             var table = layui.table;
             var view1 = layui.view;
             var mymod = layui.htcsradio;
             var contract=0;
             var bill=0;
             var nowDate = mymod.getnowdate("yyyy-MM-dd");
             var alldata=[];
             var imageurl="";
             //查询特色信息
             doc.objectQuery(tsurl, para, function (data) {

                alldata.push(data.numberData);
                doc.objectQuery(url, { "Id": id }, function (data) {
                alldata.push(data.numberData);
                // imageurl=alldata[1].PrivateImage;
                doc.objectQuery(gqurl, { "Id": ParentRoomid }, function (data) {
                  alldata.push(data.numberData);
                  imageurl += alldata[2].PublicImg;
                  var arr=new Array();
                  if(imageurl!="undefined"&&imageurl!=null){
                    imageurl=imageurl.substring(0,imageurl.length-1);
                    arr=imageurl.split(';');
                  }
                  alldata.push(arr);
                  laytpl(getTpl).render(alldata, function (html) {
                      view.innerHTML = html;
                      form.render('');
                      layer.photos({
                        photos: '#himage'
                        ,anim: 5
                      });
                      //预览
                      $('#himage').on('click', '.view', function(){
                        $(this).parents('.img-wrap').find('img').click();
                      });
                      //下载
                      $('#himage').on('click', '.download', function(){
                        var file = $(this).parents('.img-wrap').find('img').attr('alt');
                        location.href = baseurl + 'HtcsExcel/DownloadFile?filename=' + file;
                      });
                   });
                   $(".buttonleft").click(function (index,value) {
                     layer.open({
                       type: 1,
                       id:"domedit1",
                       title: '房源编辑',
                       skin: 'two-layer',
                       anim: -1,
                       shade: .1,
                       shadeClose: true,
                       maxmin: true,
                       area: ['1120px', '90%'],
                       success: function (layero, index) {
                        view1("domedit1").render('house/h-house/edit', {
                             id: id,
                             ParentRoomid:ParentRoomid,
                             layerindex:index
                         });
                       }
                    });
                  });
                });
              });
            });
            element.on('tab(test1)', function(){
               var layid=this.getAttribute('lay-id');
               if(layid==444){
                   $(".house_iframe").attr('src','/#/house/rz');
               }
               if(layid==222){ 
                element.tabChange('ztabletab', '0');
                var tableoption = {
        domid: "#zcontract-index-table", formid: "#zcontract-search-form", arr: [[ //表头
            { type: 'checkbox' }
            ,{ field: 'Id', width: 100, title: '编号' }
          , { field: 'Name', width: 100, title: '租客姓名' }
          , { field: 'Status', width: 110, title: '状态', templet: formatterstatus }
          , { field: 'Phone', width: 150, title: '租客电话' }
          , { field: 'ContractTime', width: 270, title: '合同周期', templet: formattertime }
          , { field: 'Recent', width: 80, title: '租金' }
          , { field: 'Pinlv', width: 100, title: '付款频率',templet: formatterpinlv }
       
    ]], height: 650, url: 'api/Contract/Query',
        ismuilti: true,"tabfield":"Status",tablebtnid: '#zbtnintable',
        "search":{"HouseId":id},tabletab:'ztabletab'
    };
    var BtnOption = {
        area: ['1400px', '90%'],
        editarea: ['1200px', '90%'],
        tableid: "zcontract-index-table",
        ismuilti:true,
        btnview:  "zcontract-button-view",
        toolview: "zcontract-view-btn",
        tooladd:  "zcontract-add-btn",
        tooledit: "zcontract-edit-btn",
        tooldelete:"zcontract-delete-btn",
        deletespname:"sp_pldeletecontract",
        menuid:165
    };
    doc.InitButton(BtnOption, zcontractbtnscribt, tableoption);
     //监听工具栏按钮
     table.on('tool(zdemoEvent)', function(obj) {
        var data = obj.data,
            layEvent = obj.event,
            url = $(this).data('url');
            if (layEvent === 'zcontract-tuizu-btn') { //退租
                if(data.Status!=1&&data.Status!=5){
                    layer.msg("合同状态不为待签约和在租中不能进行退租操作");
                    return;
                }
                var editid="layuizcontracttuizubtn";
                var view = layui.view;
                layer.open({
                    id: editid,
                    type: 1,
                    title: '退租',
                    skin: 'two-layer',
    
                    //anim: 4,
                    shadeClose: true, //开启遮罩关闭
    
                    maxmin: true, //开启最大化最小化按钮
                    area: ['1000px', '90%'],
                    success: function(layero, index) {
                        view(this.id).render(url, {
                            id: data.Id,
                            tableid: "bill-main-table",
                            layerindex: index
                        });
                    }
                });
            }
            if (layEvent === 'zcontract-xuzu-btn') { //续租
                if(data.Status!=1&&data.Status!=5){
                    layer.msg("合同状态不为待签约和在租中不能进行续租操作");
                    return;
                }
                var editid="layuizcontracttuizubtn";
                var view = layui.view;
                layer.open({
                    id: editid,
                    type: 1,
                    title: '续租',
                    skin: 'two-layer',
    
                    //anim: 4,
                    shadeClose: true, //开启遮罩关闭
    
                    maxmin: true, //开启最大化最小化按钮
                    area: ['1000px', '90%'],
                    success: function(layero, index) {
                        view(this.id).render(url, {
                            id: data.Id,
                            tableid: "bill-main-table",
                            layerindex: index
                        });
                    }
                });
            }
            doc.bindCommonEvents(BtnOption, data, layEvent, url);
     });  
               }else if(layid==333){
                element.tabChange('ytabletab', '0');
                   var tableoption = {
                      domid: "#ycontract-index-table", arr: [[ //表头
                          { type: 'checkbox' }
                        , { field: 'Id'  , width: 100, title: '合同编号' }
                        , { field: 'Name', width: 80, title: '姓名' }
                        , { field: 'Status', width: 100, title: '状态', templet: formatterstatus }
                        , { width: 180, title: '所属房源', templet: formatterhouse }
                        , { field: 'ContractTime', width: 220, title: '合同周期', templet: formattertime }
                        , { field: 'Deposit', width: 80, title: '押金' }
                        , { field: 'Recent', width: 80, title: '租金' }
                        , { field: 'Pinlv', width: 100, title: '付款频率',templet: formatterpinlv }
                        , { field: 'Phone', width: 120, title: '电话' }
                  ]], url: 'api/OwerContract/Query',
                      ismuilti: true,"tabfield":"Status",tablebtnid: '#ybtnintable',"search":{"HouseId":id},tabletab:'ytabletab'
                  };
                  var BtnOption = {
                      area: ['70%', '90%'],
                      editarea: ['1200px', '90%'],
                      tableid: "ycontract-index-table",
                      ismuilti:true,
                      btnview:  "zcontract-button-view",
                      toolview: "ycontract-view-btn",
                      tooladd:  "ycontract-add-btn",
                      tooledit: "ycontract-edit-btn",
                      tooldelete:"ycontract-delete-btn",
                      deletespname:"sp_plyzdeletecontract",
                      menuid:191
                  };
                  doc.InitButton(BtnOption, ycontractbtnscribt, tableoption);
                   //监听工具栏按钮
                   table.on('tool(ydemoEvent)', function(obj) {
                      var data = obj.data,
                          layEvent = obj.event,
                          url = $(this).data('url');
                          if (layEvent === 'ycontract-tuizu-btn') { //退租
                              if(data.Status!=1&&data.Status!=5){
                                  layer.msg("合同状态不为待签约和在租中不能进行退租操作");
                                  return;
                              }
                              var editid="layuizcontracttuizubtn";
                              var view = layui.view;
                              layer.open({
                                  id: editid,
                                  type: 1,
                                  title: '退租',
                                  skin: 'two-layer',
                  
                                  //anim: 4,
                                  shadeClose: true, //开启遮罩关闭
                  
                                  maxmin: true, //开启最大化最小化按钮
                                  area: ['1000px', '90%'],
                                  success: function(layero, index) {
                                      view(this.id).render(url, {
                                          id: data.Id,
                                          tableid: "bill-main-table",
                                          layerindex: index
                                      });
                                  }
                              });
                          }
                          if (layEvent === 'ycontract-xuzu-btn') { //续租
                              if(data.Status!=1&&data.Status!=5&&data.Status!=2&&data.Status!=6&&data.Status!=9){
                                  layer.msg("合同状态不为待签约和在租中不能进行续租操作");
                                  return;
                              }
                              var editid="layuizcontracttuizubtn";
                              var view = layui.view;
                              layer.open({
                                  id: editid,
                                  type: 1,
                                  title: '续租',
                                  skin: 'two-layer',
                  
                                  //anim: 4,
                                  shadeClose: true, //开启遮罩关闭
                  
                                  maxmin: true, //开启最大化最小化按钮
                                  area: ['1000px', '90%'],
                                  success: function(layero, index) {
                                      view(this.id).render(url, {
                                          id: data.Id,
                                          tableid: "bill-main-table",
                                          layerindex: index
                                      });
                                  }
                              });
                          }
                          doc.bindCommonEvents(BtnOption, data, layEvent, url);
                   });
               }
              
            });
            function formatterstatus(value) {
        //0 不限 1预订 4待搬入 5在租 6已到期 7 已退租 8以作废 9 财务审核中 
       if (value.Status == 4) {
           return '<div><span style="padding:10px;background-color:#1bb974;color:#ffffff;border-radius:5px;">待搬入</span></div>'
       }
       if (value.Status == 5) {
           return '<div><span style="padding:10px;background-color:#1bb974;color:#ffffff;border-radius:5px;">在租中</span></div>'
       }
       if (value.Status == 6) {
           return '<div><span style="padding:10px;background-color:#FF5722;color:#ffffff;border-radius:5px;">已到期</span></div>'
       }
       if (value.Status == 7) {
           return '<div><span style="padding:10px;background-color:#c2c2c2;color:#ffffff;border-radius:5px;">已退租</span></div>'
       }
       if (value.Status == 8) {
           return '<div><span style="padding:10px;background-color:#c2c2c2;color:#ffffff;border-radius:5px;">已作废</span></div>'
       }
       if (value.Status == 9) {
           return '<div><span style="padding:10px;background-color:#FFB800;color:#ffffff;border-radius:5px;">财务审核中</span></div>'
       }
}
function formatterhouse(value) {
       var adress=value.CellName + "-" + value.BuildingNumber + "栋" + value.RoomId + "室";
       if(value.HouseName!=""&&value.HouseName!=null){
           adress+="-"+value.HouseName;
       }
       return '<div>' + adress + '</div>'
   }
   function formattertime(value) {
    
       return '<div>' +util.toDateString(value.BeginTime,'yyyy年MM月dd日')   + "→" + util.toDateString(value.EndTime,'yyyy年MM月dd日') + '</div>';
}
function formatterpinlv(value) {
    return '<div>' +value.Pinlv + '月一付</div>';
}
function formatterzhouqi(value) {
            // debugger;
            if(value.BeginTime==null||value.EndTime==null){
                return '<div>'+'</div>'
            }
            if(value.BeginTime=="0001-01-01 00:00:00"||value.EndTime=="0001-01-01 00:00:00"){
                return '<div>'+'</div>'
            }
            // debugger;
            var begintime=util.toDateString(value.BeginTime, 'yyyy-MM-dd');
            var endtime=util.toDateString(value.EndTime, 'yyyy-MM-dd');
            return '<div>' + begintime+" - "+endtime + '</div>';
        }
        
        function formadaoqi(value) {
            // debugger;
            var day=0;
                      
            if(value.ShouldReceive == null){
                return '<span>' + "未知" + '</span>';
            }
            var d1 = new Date(util.toDateString(value.ShouldReceive, 'yyyy-MM-dd'));
            var d2 = new Date(nowDate);
            var days = d1-d2; 
            day= parseInt(days / (1000 * 60 * 60 * 24)); 
            if(day == 0){
                return '<span>' + "今日收款" + '</span>';
            }
            if (day< 0) {          
                return '<span style="color:#ff5153">' + "逾期"+day+"天" + '</span>';
            } 
            if (day>0) {
                return '<span>' +day+ "天后收款" + '</span>';
            } 
        }
        function formastatus(value) {
            if (value.Status == 0) {
                return '<span>' + "未支付" + '</span>'
            } else {
               
                return '<span>已支付</span>'
            }
        }
        function formatterreveice(value)
        {
            if(value.ShouldReceive==null){
                return "";
            }
           return  util.toDateString(value.ShouldReceive, 'yyyy-MM-dd')
        }
        
       }); 
    }
    function formatterrecent(value)
        {
            if(value==1){
                return "未租";
            }
            if(value==2){
                return "已租";
            }
            if(value==3){
                return "装修中";
            }
            if(value==4){
                return "作废";
            }
    }
    function formastatus(value) {
        if (value.PayStatus == 0) {
            return '<span>' + "未支付" + '</span>'
        } else {

            return '<span>已支付</span>'
        }
    }
    function formatype(value) {
        if (value.BillType == 0) {
            return '<span>' + "收款单" + '</span>'
        } if (value.BillType ==1) {
            return '<span>' + "付款单" + '</span>'
        }
        if (value.BillType ==3) {
            return '<span>' + "退款单" + '</span>'
        }
        return '<span>' + "未知" + '</span>'
    }
    function formasign(value) {
        
        return '<span>' + value.sign + '</span>'
    }

    function formatterreveice(value) {
        if (value.ShouldReceive == null) {
            return "";
        }
        return util.toDateString(value.ShouldReceive, 'yyyy-MM-dd')
    }
</script>
</head>

<body>
    <script id="zcontractbtnscribt" type="text/html">
    </script>
    <script id="ycontractbtnscribt" type="text/html">
    </script>
    <script type="text/html" id="zbtnintable">
        <ul class="layui-nav toolbar-nav">
                    <li class="layui-nav-item">
                        <a href="javascript:;" class="show-more">操作</a>
                        <dl class="layui-nav-child"></dl>
                    </li>
                </ul>
            </script>
            <script type="text/html" id="ybtnintable">
        <ul class="layui-nav toolbar-nav">
                    <li class="layui-nav-item">
                        <a href="javascript:;" class="show-more">操作</a>
                        <dl class="layui-nav-child"></dl>
                    </li>
                </ul>
            </script>
    <div id="toolbar">
        <div class="layui-btn-group">
            <div id="zcontract-button-view" style="overflow:hidden;"></div>
        </div>
    </div>
    <script type="text/html" template>
        {{#  LoadData(d.params.id,d.params.ParentRoomid,d.params.layerindex)}}
  </script>
    <div class="layui-tab layui-tab-card" style="margin:0px;" lay-filter="test1">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="111">房源信息</li>
            <li lay-id="222">租客合同</li>
            <li lay-id="333">业主合同</li>
            <li lay-id="444">日志</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show" style="padding: 10px;overflow: hidden;">
                <script id="housescript" type="text/html">
                    {{# var setter = layui.setter; var doc= layui.htcsLG, imgurl1 = setter.imgurl;}}
                         <form class="layui-form layui-form-pane hcs-form" action=""> 
                          <input type="text" name="Id" id="Id" autocomplete="off" class="layui-input" value="{{d[1].Id}}" style="display:none" /> 
                          <div class="wrap"> 
                           <div class="title"> 
                            <h3 class="red"> 房间信息 <a class="layui-btn  layui-btn-radius layui-btn-warm buttonleft">编辑</a></h3> 
                        
                           </div> 
                           <div class="layui-form-item"> 
                            <div class="layui-inline"> 
                             <label class="layui-form-label" style="text-align:left;width:auto;">地址</label> 
                             <div class="layui-input-inline" style="width:270px;"> 
                              <input type="tel" name="House" autocomplete="off" class="layui-input gray" value="{{d[1].Name}}" disabled="" /> 
                             </div> 
                            </div> 
                            <div class="layui-inline"> 
                             <label class="layui-form-label">价格</label> 
                             <div class="layui-input-inline"> 
                              <input type="text" name="email" autocomplete="off" class="layui-input gray" value="{{d[1].Price}}" disabled="" /> 
                             </div> 
                             <label class="layui-form-label">成本价</label> 
                             <div class="layui-input-inline"> 
                              <input type="text" name="costprice" autocomplete="off" class="layui-input gray" value="{{d[1].costprice}}" disabled="" /> 
                             </div> 
                            </div> 
                           </div> 
                           <div class="layui-form-item"> 
                            <div class="layui-inline"> 
                             <label class="layui-form-label" style="text-align:left;width:auto;">出租状态</label> 
                             <div class="layui-input-inline" style="width: 122px;"> 
                              <input type="text" name="Status" id="Status" autocomplete="off" class="layui-input gray" value="{{formatterrecent(d[1].Status)}}" /> 
                             </div> 
                            </div> 
                            <div class="layui-inline"> 
                             <label class="layui-form-label">户型</label> 
                             <div class="layui-input-inline"> 
                              <input type="text" name="email" autocomplete="off" class="layui-input gray" value="{{d[1].Huxing}}" disabled="" /> 
                             </div> 
                            </div> 
                           </div> 
                           <div class="layui-form-item"> 
                            <div class="layui-inline"> 
                             <label class="layui-form-label" style="text-align:left;width:auto;">朝向</label> 
                             <div class="layui-input-inline"> 
                              <input type="text" name="email" autocomplete="off" class="layui-input gray" value="{{d[1].Orientation}}" disabled="" /> 
                             </div> 
                             <label class="layui-form-label" style="text-align:left;width:auto;">面积</label> 
                             <div class="layui-input-inline"> 
                              <input type="text" name="email" autocomplete="off" class="layui-input gray" value="{{d[1].Measure}}" disabled="" /> 
                             </div> 
                            </div> 
                           </div> 
                           <div class="layui-form-item"> 
                            <div class="layui-inline"> 
                             <label class="layui-form-label" style="text-align:left;width:auto;">特色</label> 
                             <div class="layui-input-block">
                                {{#  layui.each(d[0].tese, function(index, item1){ }}
                                    <input type="checkbox" name="{{item1.Code}}" title="{{item1.Name}}" lay-filter="zafei" ztype="{{item1.Type}}" zyajin="{{item1.Ibox" name="{{item1.Code}}" title="{{item1.Name}}" lay-filter="zafei" ztype="{{item1.Type}}" zyajin="{{item1.IsYajin}}">
                                {{#  });   }}
                            </div>
                            </div> 
                            <div class="layui-form-item"> 
                                <div class="layui-inline"> 
                                 <label class="layui-form-label" style="text-align:left;width:auto;">配备</label> 
                                 <div class="layui-input-block">
                                    {{#    layui.each(d[1].listpeibei, function(index, item1){ }}
                                    {{#  if(item1.isCheck==1){ }}
                                <input type="checkbox" name="PublicPeibei" value="{{item1.Name}}" title="{{item1.Name}}" lay-filter="zafei" ztype="{{item1.Type}}" checked zyajin="{{item1.IsYajin}}">
                                {{# }else{ }}
                                    <input type="checkbox" name="PublicPeibei" value="{{item1.Name}}" title="{{item1.Name}}" lay-filter="zafei" ztype="{{item1.Type}}" zyajin="{{item1.IsYajin}}">
                                {{# }; });   }}
                                </div>
                                </div>
                           </div> 
                          </div> 
                          <div class="wrap"> 
                            <div class="title"> 
                             <h3 class="red"> 公区信息 </h3> 
                            </div> 
                            <div class="layui-form-item"> 
                                    <div class="layui-inline"> 
                                            <label class="layui-form-label">商圈</label> 
                                            <div class="layui-input-inline"> 
                                             <input type="text" name="email" autocomplete="off" class="layui-input gray" value="{{doc.ns(d[2].BusinessArea)}}" disabled="" /> 
                                            </div> 
                                            <div class="layui-inline"> 
                                               <label class="layui-form-label">小区</label> 
                                               <div class="layui-input-inline"> 
                                                <input type="text" name="email" autocomplete="off" class="layui-input gray" value="{{d[2].CellName}}" disabled="" /> 
                                               </div> 
                                           </div> 
                                           <div class="layui-inline"> 
                                            <label class="layui-form-label">门店</label> 
                                            <div class="layui-input-inline"> 
                                             <input type="text" name="email" autocomplete="off" class="layui-input gray" value="{{doc.ns(d[2].store)}}" disabled="" /> 
                                            </div> 
                                        </div> 
                            </div>
                            <div class="layui-form-item"> 
                                    <div class="layui-inline"> 
                                            <label class="layui-form-label">房型</label> 
                                            <div class="layui-input-inline"> 
                                             <input type="text" name="email" autocomplete="off" class="layui-input gray" value="{{d[2].ShiNumber}}室{{d[2].TingNumber}}厅{{d[2].WeiNumber}}卫" disabled="" /> 
                                        </div>
                                        <div class="layui-inline"> 
                                            <label class="layui-form-label">楼层</label> 
                                            <div class="layui-input-inline"> 
                                             <input type="text" name="email" autocomplete="off" class="layui-input gray" value="{{d[2].AllFloor}}/{{d[2].NowFloor}}" disabled="" /> 
                                        </div>
                                       
                            </div>
                            <div class="layui-form-item"> 
                                    <div class="layui-inline"> 
                                            <label class="layui-form-label">面积</label> 
                                            <div class="layui-input-inline"> 
                                             <input type="text" name="email" autocomplete="off" class="layui-input gray" value="{{d[2].Measure}}" disabled="" /> 
                                        </div>
                             </div>
                            
                            <div class="layui-form-item"> 
                                <div class="layui-inline"> 
                                 <label class="layui-form-label">地址</label> 
                                 <div class="layui-input-inline"> 
                                  <input type="text" name="Status" id="Status" autocomplete="off"  class="layui-input gray" value="{{doc.ns(d[2].ProvinceName)}}{{d[2].CityName}}{{d[2].Adress}}" /> 
                                 </div> 
                                </div> 
                               </div>
                               <div class="layui-form-item"> 
                                    <div class="layui-inline"> 
                                     <label class="layui-form-label">房管员</label> 
                                     <div class="layui-input-inline"> 
                                      <input type="text" name="Status" id="Status" autocomplete="off"  class="layui-input gray" disabled value="{{doc.ns(d[2].housekeepername)}}" /> 
                                     </div> 
                                    </div> 
                                    <div class="layui-inline"> 
                                            <label class="layui-form-label">电话</label> 
                                            <div class="layui-input-inline"> 
                                             <input type="text" name="Status" id="Status" autocomplete="off"  class="layui-input gray" disabled value="{{doc.ns(d[2].housekeeperphone)}}" /> 
                                            </div> 
                                    </div> 
                                </div>     
                               <div class="title"> 
                                    <h3 class="red"> 图片信息</h3> 
                                   </div> 
                                   
                                   <div class="layui-row" id="himage">
                                         {{#  layui.each(d[3], function(index, item1){ }}
                                         <div class="layui-col-xs3">
                                                 <div class="img-wrap">
                                                  <img class="house-img-all house-img hand" src="{{imgurl1}}{{item1}}" alt="{{item1}}">
                                                  <div class="opes">
                                                    <i class="layui-icon view">&#xe615;</i>
                                                    <i class="layui-icon download">&#xe601;</i>
                                                  </div>
                                                 </div>
                                         </div>
                                         {{# });   }}                          
                                    </div>
                         </form> 
                    </script>
                <div id="house-edit-view">
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-tab layui-tab-brief" lay-filter="ztabletab">
                    <ul class="layui-tab-title" style="margin-bottom:0;">
                        <li value="0" class="layui-this" lay-id="0">全部合同</li>
                        <li value="5" class="" lay-id="5">在租合同</li>
                        <li value="7" class="" lay-id="7">历史合同</li>
                    </ul>
                    <div class="layui-tab-content" style="padding:0px;margin:0px;">
                        <table id="zcontract-index-table" lay-filter="zdemoEvent"></table>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-tab layui-tab-brief" lay-filter="ytabletab">
                    <ul class="layui-tab-title" style="margin-bottom:0;">
                        <li value="0" class="layui-this" lay-id="0">全部合同</li>
                        <li value="5" class="" lay-id="5">在租合同</li>
                        <li value="7" class="" lay-id="7">历史合同</li>
                    </ul>
                    <div class="layui-tab-content" style="padding:0px;margin:0px;">
                        <table id="ycontract-index-table" lay-filter="ydemoEvent"></table>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item" style="height:700px;">
                <iframe src="" isloaded="true" frameborder="0" class="house_iframe"></iframe>
            </div>
        </div>
    </div>
</body>

</html>