
<link href="../../../../Content/hsc-form.css" rel="stylesheet" />
<style>
    #sysuer-add-view  .layui-table-cell{
    overflow:visible !important;
 }
 #sysuer-add-view  thead tr{height: 45px;}
#sysuer-add-view tbody tr{height: 55px;}
 .layui-form-select ul{
     z-index:999999
 }
 #wrap-user thead tr{height: 45px;}
#wrap-user tbody tr{height: 55px;}
.layui-tab-content *{overflow:visible!important}
.layui-form-select dl{overflow-y:auto!important}
</style>
<script>
     var sysuserdata=[];
      function LoadData(id,tableid,layerindex){
        layui.use(['laypage', 'layer', 'laytpl', 'jquery', 'form'], function () {
            var laytpl = layui.laytpl;
            var doc = layui.htcsLG;
            var $ = layui.jquery;
            var form = layui.form;
            var ishouse=0;
            var table=layui.table;
            form.render('');
             //监听指定开关
            form.on('switch(ishouse)', function(data){
              debugger;
              if(this.checked==true){
                ishouse=1;
              }else{
                ishouse=0;
              }
            });
            form.on('submit(save)', function (data) {
            var datafield=data.field;
            datafield.ishouse=ishouse;
            
            var tjdata =datafield;
            var saveoption={
            url:'api/Role/save',
            data:tjdata,
            tableid:tableid,
            callBack:function(resultData){
            if (resultData.Code == 0) {
                layer.close(layerindex);
            }
        }
       }
      doc.Submit(saveoption);
      return false;
});
});
}
</script>
<body>
        <script type="text/html" template >
            {{#  LoadData(d.params.id,d.params.tableid,d.params.layerindex)}}
        </script>
        <div class="form-wrapper">
                <form class="layui-form  layui-form-pane hcs-form form-panel" action="" lay-filter="formuser">            
                        <div class="form-content">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">角色名称</label>
                                <div class="layui-input-inline" style="width: 200px;">
                                    <input type="tel" lay-verify="required" name="RoleName" autocomplete="off" class="layui-input" id="RoleName">
                                </div>
                                <label class="layui-form-label">描述</label>
                                <div class="layui-input-inline" style="width: 200px;">
                                        <input type="tel" lay-verify="required" name="RoleDesc" autocomplete="off" class="layui-input" id="RoleDesc">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">权限范围</label>
                                    <div class="layui-input-inline" style="width: 200px;">
                                            <select name="range" lay-verify="required" id="range" lay-search="">
                                                    <option value="0">请选择</option>
                                                    <option value="1">所有房源</option>
                                                    <option value="2">本部门及以下房源</option>
                                                    <option value="3">本人所属房源</option>
                                            </select>
                                    </div>
                                    <label class="layui-form-label">房源开关</label>
                                    <div class="layui-input-inline" style="width:400px;">
                                            <input type="checkbox" name="ishouse"  lay-filter="ishouse" lay-skin="switch" lay-text="开启|关闭"  >
                                            <label style="margin-left: 10px;color: red;">开启后，房源数据不受权限限制全部可查</label>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="form-bottom">
                            <div class="form-wrap">
                                <button class="layui-btn layui-btn layui-btn-primary" id="cancel" lay-filter="cancel" lay-submit="">取消</button>
                                <button class="layui-btn" id="save" lay-filter="save" lay-submit="">保存</button>
                    </div>
                  </div>
                </form>
        </div>
</body>