<!DOCTYPE html>
<html>
    <link href="../../../Content/formSelects-v4.css" rel="stylesheet" />

	<body>
		<form class="layui-form layui-form-pane" action="">
		
<select name="city" xm-select="select1">
		<option value="1" disabled="disabled">北京</option>
		<option value="2" selected="selected">上海</option>
		<option value="3">广州</option>
		<option value="4" selected="selected">深圳</option>
		<option value="5">天津</option>
	</select>
		
			
		
		</form>
		<script type="text/javascript">
		   layui.use(['jquery', 'formSelects'], function(){
        var formSelects = layui.formSelects;
         
    });
		</script>
	</body>
</html>
