<link href="../../../../Content/hsc-form.css" rel="stylesheet" />
<script src="../../../..//Scripts/Common/EditLoad.js"></script>

<script type="text/html" template >
    {{#  LoadData(d.params.id,d.params.tableid)}}
</script>
    <script id="editmenuscript" type="text/html">
        <form class="layui-form hcs-form" action="">
            <!-- <input type="tel" name="Id" lay-verify="required" autocomplete="off" class="layui-input" id="Id" value="{{d[0].Id}}" style="display:none;"> -->
            <!-- <div class="form-content"> -->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">菜单代码</label>
                        <input type="tel" name="tableid"  autocomplete="off" class="layui-input" id="tableid" value="" style="display:none;">
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="tel" name="name"  autocomplete="off" class="layui-input" id="name" value="{{d[0].name}}">
                        </div>
                        <label class="layui-form-label" style="width:auto;">菜单名称</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input  type="tel" name="title" lay-verify="required" autocomplete="off" class="layui-input" id="title" value="{{d[0].title}}">
                        </div>                       
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">图标</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="tel" name="icon"  autocomplete="off" class="layui-input" id="icon" value="{{d[0].icon}}">
                        </div>
                        <label class="layui-form-label">跳转页面</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="tel" name="jump" autocomplete="off" class="layui-input" id="jump" value="{{# ns(d[0].jump) }}">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">子系统</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <select name="SystemId" lay-verify="required" id="SystemId" lay-search="">
                                <option value="0">请选择</option>
                             
                                {{#  layui.each(d[1], function(index, item1){if(item1.Jishu==0){ }}
                                <option value="{{item1.Id}}">{{item1.name}}</option>
                                {{#  } });   }}
                            </select>
                        </div>
                        <label class="layui-form-label" style="width:auto;">上级菜单</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <select name="ParentId" lay-verify="required" id="ParentId" lay-search="">
                                <option value="0">请选择</option>
                                {{#  layui.each(d[1], function(index, item1){if(item1.Jishu==1){ }}
                                <option value="{{item1.Id}}">{{item1.name}}</option>
                                {{#  } });   }}

                            </select>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
            <div class="form-bottom">
                <div class="form-wrap">
                    <button class="layui-btn layui-btn layui-btn-primary" id="cancel" lay-filter="cancel">取消</button>
                    <button class="layui-btn" id="save" lay-filter="save" lay-submit="">保存</button>
                </div>
            </div>
        </form>
    </script>
    
    <div id="edit-menu-view"></div>
    <script>
     
    function ns(value) {
            if (value == null) {
                return "";
            } else {
                return value;
            }
        }
    function LoadData(id,tableid){
        layui.use(['form', 'layer', 'laydate', 'laytpl'], function () {
      
      var laytpl = layui.laytpl;
      var form = layui.form;
      var $ = layui.$;
      var getTpl = editmenuscript.innerHTML
      , view = document.getElementById('edit-menu-view');
      var url ="api/Menu/Queryid";
      var  doc = layui.htcsLG;
      
      var data = { "Id": id };
      doc.objectQuery(url, data, function (result) {
          var url1 ="api/Menu/Querymenu";
          doc.objectQuery(url1, data, function (result1) {
              var realdata = result.numberData;
              var resultdata1 = result1.numberData;
              var allresult = [];
              allresult.push(realdata);
              allresult.push(resultdata1);
              laytpl(getTpl).render(allresult, function (html) {
                  view.innerHTML = html;
              });
              $("#ParentId").val(realdata.ParentId);
              $("#SystemId").val(realdata.SystemId);
              $("#tableid").val(tableid);
               form.render();
          });    
          doc.tjgd();       
      });
     
 //监听提交
 form.on('submit(save)', function (data) {
      if (data.field.ParentId != 0 ) {
          data.field.Jishu = 2;
      }
      if (data.field.SystemId!= 0 && data.field.Jishu != 2) {
          data.field.Jishu = 1;
      }
      var saveoption={
          url:'api/Menu/SaveMenu',
          data:data.field,
          urltype:1,
          tableid:data.field.tableid,
          callBack:function(){
            layer.closeAll();
        }
      }
      doc.Submit(saveoption);
      return false;
  });

});
}
</script>

