
<script src="../../../Scripts/Common/uploadjs.js"></script>
<link href="../../../../../Content/uploadcss.css" rel="stylesheet" />
<script type="text/html" template >
    {{#  LoadData(d.params.img,d.params.type,d.params.layerindex)}}
</script>
<div class="layui-upload">
            <button type="button" class="layui-btn" id="test2" style="margin-left:20px;margin-top:20px;">选择图片</button>
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;background-color:#e2e2e2;height:200px;">     
                <div class="layui-upload-list" id="demo2" >
                   
                </div>
                <div style="clear:both;"></div>
            </blockquote>
        </div>
        <div class="form-bottom">
            <div class="form-wrap">
                <a class="layui-btn layui-btn layui-btn-primary" id="cancel1">取消</a>
                <a class="layui-btn" id="imgsave"  lay-submit="">完成</a>
            </div>
        </div>
   