
<script src="../../../../Scripts/rz_business.js"></script>
<link href="../../../../Content/Home.css" rel="stylesheet" />
<style>
    .fywz {
        position: absolute;
    }
</style>
<!--结束-->
<div class="layui-fluid" style="background-color:#ffffff;">
        <div class="m-search">
                <form class="layui-form hcs-form" action="" lay-filter="search" id="guest-search-form">
                     <div class="m-search-item" style="width:200px;">
                           <input type="text" name="house" autocomplete="off" class="layui-input" placeholder="小区名,地址" id="house">
                     </div>
                     <div class="m-search-item" style="width:200px;">
                        <input type="text" name="content" autocomplete="off" class="layui-input" placeholder="内容" id="content">
                     </div>
                    <div class="m-search-item">
                        <select name="type" lay-verify="" id="type" lay-filter="type">                          
                            <option value="">操作类型</option>
                            <option value="房源操作">房源操作</option>
                            <option value="租客合同操作">租客合同操作</option>
                            <option value="业主合同操作">业主合同操作</option>
                            <option value="账单操作">账单操作</option>
                            <option value="用电日志" >用电日志</option>
                            <option value="家具日志" >家具日志</option>
                        </select>  
                    </div>
                    <div class="m-search-item" >
                            <label class="layui-form-label">创建时间</label>
                            <div class="layui-input-inline" style="width: 144px;">
                                    <input type="text" name="BeginTime" autocomplete="off" class="layui-input" placeholder="开始时间" id="tBeginTime">
                                </div>
                                <div class="layui-input-inline" style="width: 144px;">
                                        <input type="text" name="EndTime" autocomplete="off" class="layui-input" placeholder="结束时间" id="tEndTime">
                                    </div>
                        </div>
                    <div class="m-search-item">
                        <button class="layui-btn" lay-submit="" lay-filter="search">搜索</button>
                    </div>
                    
                    <div style="clear:both;"></div>
                </form>
            </div>
        <script id="guestbtnscribt" type="text/html">
        {{#  layui.each(d, function(index, item){}}
        {{# if(item.Multiple === 1){}}
        <button class="layui-btn layui-btn-primary {{item.BtnNo}}" id="{{item.BtnNo}}" hturl="{{item.ButtonUrl}}">
            <i class="layui-icon {{item.BtnIcon}}"></i>{{item.BtnName}}
        </button>
        {{# }}}
        {{#   });   }}
    </script>
       <script type="text/html" id="btnintable">
        
    </script>
    <div id="toolbar">
        <div class="layui-btn-group">
            <div id="guest-button-view" style="overflow:hidden;"></div>
           
        </div>
    </div>
    
    <div class="layui-tab layui-tab-card" lay-filter="tabletab">
            <ul class="layui-tab-title" style="margin-bottom:0;">
                <li value="0" class="layui-this">所有</li>
               
                
            </ul>
            <div class="layui-tab-content" style="padding:0px;margin:0px;">
                <table id="guest-main-table" lay-filter="demoEvent"></table>
            </div>
        </div>

</div>

