<title>合租房源</title>
<link href="../../../../Content/Home.css" rel="stylesheet" />
<script type="text/html" template>
    <script src="../../../../Scripts/jquery-1.10.2.js"></script>
  </script>
<style>
    .layui-content{
        height: calc(100% - 30px);
    }
    .m-top:hover{
        border-left-width: 7px;
    }
    .hover-menu{
        display: none;
        position: absolute;
        line-height: 20px;
        right: 8px;
        bottom: -15px;
        z-index: 999;
    }
    .m-top:hover .hover-menu{
        display: block;
    }
    .hover-menu .drop-menu{
        display: none;
        position: absolute;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 2px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        text-align: left;
        font-size: 13px;
        top: auto;
        bottom: 100%;
        min-width: 140px;
        right: 0;
        background-color: #fff;
    }
    .hover-menu .drop-menu li a{
        display: block;
    }
</style>
<body style="background-color:#ffffff;">
        <script id="demo" type="text/html">
            <div class="m-comtent1">
            <div class="m-wrap-body" >
            {{# var util = layui.util;layui.each(d, function(indextop,itemtop){  }}
            {{# if(itemtop.Status==2){ }}
            <div class="m-panel-body1" id="panel-body-{{itemtop.Id}}">
                <div class="m-top m-zt-y" id="m-top">
                    <ul>
                        <li>
                            <span class="zfylx">{{formatter1(itemtop.sign)}}</span> <span class="housename">{{itemtop.Title}}</span>
                        </li>
                        <li><span>{{formatter(itemtop.Price,"暂未定价")}}</span></li>
                        <li><span>{{formatter(itemtop.Huxing,"户型")}}</span><span>{{formatter(itemtop.Measure,"面积")}}</span><span>{{formatter(itemtop.Orientation,"朝向")}}</span></li>
                        <li><span>已租</span><span>{{itemtop.recent}}元/月</span><span>({{itemtop.teantname}})</span> <span> 退:{{util.toDateString(itemtop.endtime.replace(/-/g, '/'), 'yyyy/MM/dd')}}</span></li>
                    </ul>
                    <div class="hover-menu">
                        <div class="layui-btn-group">
                          <button class="layui-btn layui-btn-primary layui-btn-sm viewdepent" id="viewdepent-{{itemtop.Id}}" data-tip="预览">
                            <i class="layui-icon">&#xe615;</i>
                          </button>
                          <button class="layui-btn layui-btn-primary layui-btn-sm listdepent" id="listdepent-{{itemtop.Id}}" data-tip="合同列表">
                            <i class="layui-icon">&#xe63c;</i>
                          </button>
                          <button class="layui-btn layui-btn-primary layui-btn-sm more-opes" data-tip="更多操作">
                            <i class="layui-icon">&#xe65f;</i>
                          </button>
                          <ul class="drop-menu">
                              <li class="editdepent" id="editdepent-{{itemtop.Id}}"><a href="javascript:;">编辑房间</a></li>
                              <li class="deletedepent" id="deletedepent-{{itemtop.Id}}"><a href="javascript:;">删除房间</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{# }else{ }}
            <div class="m-panel-body1" id="panel-body-{{itemtop.Id}}">
                <div class="m-top m-zt-k" id="m-top">
                    <ul>
                        <li>
                            <span class="fylx">{{formatter1(itemtop.sign)}}</span><span class="housename">{{itemtop.Title}}</span>
                        </li>
                        <li><span>{{formatter(itemtop.Price,"暂未定价")}}</span></li>
                        <li><span>{{formatter(itemtop.Huxing,"户型")}}</span><span>{{formatter(itemtop.Measure,"面积")}}</span><span>{{formatter(itemtop.Orientation,"朝向")}}</span></li>
                        <li><span>空置</span><span class="m-red">{{itemtop.Idletime}}天</span></li>
                    </ul>
                    <div class="hover-menu">
                        <div class="layui-btn-group">
                          <button class="layui-btn layui-btn-primary layui-btn-sm viewdepent" id="viewdepent-{{itemtop.Id}}" data-tip="预览">
                            <i class="layui-icon">&#xe615;</i>
                          </button>
                          <button class="layui-btn layui-btn-primary layui-btn-sm listdepent" id="listdepent-{{itemtop.Id}}" data-tip="合同列表">
                            <i class="layui-icon">&#xe63c;</i>
                          </button>
                          <button class="layui-btn layui-btn-primary layui-btn-sm addcontract" id="addcontract-{{itemtop.Id}}" data-tip="添加合同">
                            <i class="layui-icon">&#xe770;</i>
                          </button>
                          <button class="layui-btn layui-btn-primary layui-btn-sm more-opes" data-tip="更多操作">
                            <i class="layui-icon">&#xe65f;</i>
                          </button>
                          <ul class="drop-menu">
                              <li class="editdepent" id="editdepent-{{itemtop.Id}}"><a href="javascript:;">编辑房间</a></li>
                              <li class="deletedepent" id="deletedepent-{{itemtop.Id}}"><a href="javascript:;">删除房间</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
       
            {{# } }}
            {{# }) }}
        </div>
    </div>
        </script>
    <div class="layui-content" id="house-cont">
        <div class="left-filter-bar">
            <form class="layui-form">
                <div class="filter-top">
                  <select name="province" lay-filter="province" id="province"></select>
                  <select name="city" lay-filter="city"></select>
                </div>
                <div class="filter-bottom area-list"></div>
            </form>
        </div>
        <div class="right-content">
            <div class="m-search">
                    <form class="layui-form">
                            <div class="layui-form-item">
                                    <div class="layui-form-item" style="margin-bottom:5px;">
                                            <div class="m-search-item" style="width:250px;">
                                                    <input type="text" name="Content" autocomplete="off" class="layui-input" placeholder="小区名,小区地址，房间号，房管员" id="Content">
                                           </div>
                                           <div class="m-search-item">
                                                <select name="ShiNumber" lay-verify="" id="ShiNumber" lay-filter="ShiNumber">         
                                                    <option value="">居室</option>
                                                    <option value="1">1居</option>
                                                    <option value="2">2居</option>
                                                    <option value="3">3居</option>
                                                    <option value="4">4居</option>
                                                    <option value="5">5居</option>
                                                </select>
                                            </div>
                                            <div class="m-search-item">
                                                    <select name="storeid" lay-verify="" id="storeid" lay-filter="store">         
                                                        <option value="">门店</option>
                                                       
                                                    </select>
                                            </div>
                                            <div class="m-search-item">
                                                    <select name="Idletime" lay-verify="" lay-filter="Idletime">         
                                                        <option value="">空置天数</option>
                                                        <option value="1">小于10天</option>
                                                        <option value="2">11到20天</option>
                                                        <option value="3">21到30天</option>
                                                        <option value="4">大于30天</option>
                                                    </select>
                                                 </div>
                                                 <div class="m-search-item">
                                                        <select name="sign" lay-verify="" lay-filter="sign">          
                                                            <option value="">房源标记</option>
                                                            <option value="1">到期</option>
                                                            <option value="2">违约</option>
                                                            <option value="3">转租</option>
                                                            <option value="4">新房</option>
                                                            <option value="5">协议退房</option>
                                                        </select>
                                                 </div>
                                                <div class="m-search-item">
                                                    <button class="layui-btn" lay-submit="" lay-filter="search">搜索</button>
                                                    <span class="searchresult"><span id="tao">0</span>套
                                                </div> 
                                                 <div class="m-search-item" style="margin-left:15px;">
                                                    <span class="layui-btn layui-btn-primary"
                                                    href="" id="excel" >导出</span>
                                                </div>
                                 
                                   </div>   
                           </div>
                    </form>
                </div>
                    <div class="hm-search" >
                        <div id="house-othersrarch"></div>
                      
                    </div>
            <div id="view" class="flow-default" style="height:100px;"></div>
           

        
    </div>
    
</body>
<script type="text/html" template>
    <script src="../../../../Scripts/z-publicbessins.js"></script>
  </script>
