
<script src="../../../../Scripts/Renovation_business.js"></script>
<link href="../../../../Content/Home.css" rel="stylesheet" />
<style>
    .fywz {
        position: absolute;
    }

</style>
<!--结束-->
<div class="layui-fluid" style="background-color:#ffffff;">
    <div class="m-search">
        <form class="layui-form hcs-form" action="" lay-filter="search" id="repaire-search-form">
            <div class="m-search-item">
                <input type="text" name="Id" autocomplete="off" class="layui-input" placeholder="维修编号" id="Id" style="width:auto;">
            </div>
            <div class="m-search-item">
                <select name="Status" lay-filter="aihao">
                    <option value="999">请选择</option>
                    <option value="0">待接单</option>
                    <option value="1" >已接单</option>
                    <option value="2">完成</option>
                  </select>            
                </div>
            <div class="m-search-item">
                <select name="Urgent" lay-filter="aihao">
                    <option value="0">请选择</option>
                    <option value="1">紧急</option>
                    <option value="2">一般</option>
                </select>
            </div>
            <div class="m-search-item">
                <input type="text" name="JournaList" autocomplete="off" placeholder="报修人" class="layui-input" id="ddd" style="width:auto;">
            </div>
            <div class="m-search-item">
                <input type="text" name="Phone" autocomplete="off" placeholder="报修人电话" class="layui-input" id="ddd" style="width:auto;">
            </div>
            
            <div class="m-search-item">
                <button class="layui-btn" lay-submit="" lay-filter="search">搜索</button>
            </div>
            
            <div style="clear:both;"></div>
        </form>
    </div>
    <script id="repairebuttonview" type="text/html">
        {{#  layui.each(d, function(index, item){}}
        {{# if(item.Multiple === 1){}}
        <button class="layui-btn layui-btn-primary {{item.BtnNo}}" id="{{item.BtnNo}}" hturl="{{item.ButtonUrl}}">
            <i class="layui-icon {{item.BtnIcon}}"></i>{{item.BtnName}}
        </button>
        {{# }}}
        {{#   });   }}
    </script>
    <div id="toolbar">
            <div class="layui-btn-group">
                <div id="guest-button-view" style="overflow:hidden;"></div>
               
            </div>
        </div>
        <script type="text/html" id="repairebtnintable">
            <ul class="layui-nav toolbar-nav">
                <li class="layui-nav-item">
                    <a href="javascript:;" class="show-more">操作</a>
                    <dl class="layui-nav-child"></dl>
                </li>
            </ul>
    </script>
    <div class="layui-tab layui-tab-card" lay-filter="tabletab">
        <ul class="layui-tab-title" style="margin-bottom:0;">
            <li value="0" class="layui-this">所有</li>
          
        </ul>
        <div class="layui-tab-content" style="padding:0px;margin:0px;">
            <table id="repaire-main-table" lay-filter="demoEvent"></table>
        </div>
    </div>
    <div>

    </div>

</div>

