<link href="../../../../Content/hsc-form.css" rel="stylesheet" />
<script src="../../../../Scripts/jquery-1.10.2.js"></script>
<style>
    .layui-table-cell{
   overflow:visible !important;
}
.form-content thead tr{height: 45px;}
.form-content tbody tr{height: 55px;}
.layui-form-select ul{
  z-index:999999
}
.layui-table-view .layui-table td[data-field="Image"] div{
  overflow: hidden !important;
}
</style>
<script>
    var bxTypeList = [],bxIndex = 0,table,tabbleid="repairelistaddtable",doc;
      function LoadData(parentid,tableid,layerindex){
        layui.use(['laypage', 'layer', 'laytpl', 'jquery', 'form'], function () {
            var laytpl = layui.laytpl;
            doc = layui.htcsLG;
            var $ = layui.jquery;
            var form = layui.form;
            var laydate = layui.laydate;
            var  houseid=0;
            var url1 ="api/BaseData/Queryfgy";
            table=layui.table;
            $("#cancelbtn").click(function(){
            layer.close(layerindex);
            return false;
            }); 
            form.render();
            //监听提交
            form.on('submit(save)', function (data) {
               debugger;
           var datafield=data.field;
           datafield.parentid = parentid;
           var tjdata =datafield;
           var saveoption={
           url:'api/Renovationlist/Save',
           data:tjdata,
           tableid:tableid,
           callBack:function(resultData){
            if (resultData.Code == 0) {
                layer.close(layerindex);
            }
          }
        }
        doc.Submit(saveoption);
        return false;
        });  
        });
      }
      function complteimg(name,type, number){
        layui.use(['jquery'], function () {
            var $ = layui.jquery;
            if(type==1){
             $("#Image").val(name);
             $("#imgnumber").html(number);
            }
            if(type==2){
             $("#zjImage").val(name);
             $("#imgzjnumber").html(number);
            }
        })
      }
</script>

<body>
    <script type="text/html" template>
        {{#  LoadData(d.params.parentid,d.params.tableid,d.params.layerindex)}}
        </script>
        <div  class="form-wrapper">
                <form class="layui-form  layui-form-pane hcs-form form-panel" action="" >
                        <div class="form-content">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">流程</label>
                                    <div class="layui-input-inline" style="width:300px;">
                                            <select name="status" lay-verify="required" id="process">
                                                    <option value="">请选择</option>
                                                    <option value="3">通过</option>
                                                    <option value="2">拒绝</option>
                                                   
                                            </select>
                                    </div>
                                    <label class="layui-form-label">拒绝原因</label>
                                    <div class="layui-input-inline" style="width: 200px;">
                                            <input type="tel" lay-verify="required" name="reson" autocomplete="off" class="layui-input" id="reson">
                                    </div>
                                </div>
                            </div>
                          </div>
                        <div class="form-bottom">
                            <div class="form-wrap">
                                <button class="layui-btn layui-btn layui-btn-primary" id="cancelbtn" >取消</button>
                                <button class="layui-btn" id="save" lay-filter="save" lay-submit="">保存</button>
                            </div>
                        </div>
                    </form>
        </div>
    
</body>
<script src="../../../../Scripts/Common/jquery.autocomplete.js"></script>
<link href="../../../../Content/jquery.autocomplete.css" rel="stylesheet" />