
<script type="text/html" template>
    <script src="{{layui.setter.base }}/Scripts/baojie_business.js"></script>
</script>
<link href="../../../../Content/Home.css" rel="stylesheet" />
<style>
    .fywz {
        position: absolute;
    }
</style>
<!--结束-->
<div class="layui-fluid" style="background-color:#ffffff;">
    <div class="m-search">
        <form class="layui-form hcs-form" action="" lay-filter="search" id="guest-search-form">
             <div class="m-search-item" style="width:200px;">
                   <input type="text" name="Content" autocomplete="off" class="layui-input" placeholder="房源,申请人，申请人手机，执行人" id="Content">
             </div>
            
             <div class="m-search-item" style="width: 90px;">
                <select name="RecentType" lay-verify="" id="RecentType"  lay-filter="RecentType">
                   <option value="">房源类型</option>                           
                   <option value="1">整租</option>
                   <option value="2" >合租</option>
                   <option value="3" >独栋</option>
            </select>  
           </div>

           <div class="m-search-item" style="width: 90px;">
            <select name="ugent" lay-verify="" id="ugent"  lay-filter="ugent">
               <option value="">紧急程度</option>                           
               <option value="1">普通</option>
               <option value="2" >紧急</option>
               <option value="3" >非常紧急</option>
            </select>  
         </div>
         <div class="m-search-item">
            <label class="layui-form-label" style="width: auto;">市</label>
            <div class="layui-input-inline" style="width: 90px;">
                <select lay-filter="cityname" name="cityname">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="m-search-item">
            <label class="layui-form-label" style="width: auto;">区</label>
            <div class="layui-input-inline" style="width: 90px;">
                <select lay-filter="areaname" name="areaname">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="m-search-item">
            <label class="layui-form-label" style="width: auto;">小区</label>
            <div class="layui-input-inline" style="width: 90px;">
                <select lay-filter="cellname" name="cellname" multiple="multiple">
                    <option value="">请选择</option>
                </select>
                <input type="hidden" name="CellNames" id="cellname">
            </div>
        </div>

         <div class="m-search-item">
            <button class="layui-btn" lay-submit="" lay-filter="search">搜索</button>
         </div>
            
         <div style="clear:both;"></div>
        </form>
    </div>
   
    <div id="toolbar">
        <div class="layui-btn-group">
            <div id="guest-button-view" style="overflow:hidden;"></div>
        </div>
    </div>
    
    <script id="guestbtnscribt" type="text/html">
        {{#  layui.each(d, function(index, item){}}
        {{# if(item.Multiple === 1){}}
        <button class="layui-btn layui-btn-primary {{item.BtnNo}}" id="{{item.BtnNo}}" hturl="{{item.ButtonUrl}}">
            <i class="layui-icon {{item.BtnIcon}}"></i>{{item.BtnName}}
        </button>
        {{# }}}
        {{#   });   }}
    </script>
    <script type="text/html" id="btnintable">
            <ul class="layui-nav toolbar-nav">
                <li class="layui-nav-item">
                    <a href="javascript:;" class="show-more">操作</a>
                    <dl class="layui-nav-child"></dl>
                </li>
            </ul>
    </script>
    <div class="layui-tab layui-tab-card" lay-filter="tabletab">
        <ul class="layui-tab-title" style="margin-bottom:0;">
            <li value="1" class="layui-this">待处理</li>
            <li value="2">进行中</li>
            <li value="3">挂起中</li>
            <li value="4">已完成</li>
            <li value="0" >所有</li>
        </ul>
        <div class="layui-tab-content" style="padding:0px;margin:0px;">
            <table id="guest-main-table" lay-filter="demoEvent"></table>
        </div>
    </div>
    <div>

    </div>

</div>

