<!DOCTYPE html>
<html>
<link href="../../../../Content/hsc-form.css" rel="stylesheet" />
<style>
    .child-view  .layui-table-cell{
    overflow:visible !important;
 }
 .child-view  thead tr{height: 45px;}
.child-view tbody tr{height: 55px;}
 .layui-form-select ul{
     z-index:999999
 }

    </style>

<body>
    <script type="text/html" template>
        {{#  LoadData(d.params.id,d.params.tableid,d.params.layerindex)}}
        </script>
    <div id="department-edit-view" class="child-view form-wrapper">
        <form class="layui-form  layui-form-pane hcs-form form-panel" action="">
            <div class="form-content">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">部门名称</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="tel" name="name" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">所属部门</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="text" autocomplete="off" class="layui-input" id="tree" lay-filter="tree">
                            <input type="hidden" name="parentid">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">部门电话</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="text" name="phone" autocomplete="off" class="layui-input" id="phone">
                        </div>
                        <label class="layui-form-label">所属地址</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="text" name="adress" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-bottom">
                <div class="form-wrap">
                    <button class="layui-btn layui-btn layui-btn-primary" id="cancelbtn" lay-submit="">取消</button>
                    <button class="layui-btn" id="save" lay-filter="save" lay-submit="">保存</button>
                </div>
            </div>
        </form>
    </div>
    <script>
    function LoadData(id, tableid, layerindex) {
        layui.use(['treeSelect', 'laypage', 'layer', 'laytpl', 'jquery', 'form', 'setter'], function() {
            var laytpl = layui.laytpl;
            var doc = layui.htcsLG;
            var treeSelect = layui.treeSelect;
            var deletebilllist = [];
            var table = layui.table;
            var setter = layui.setter;
            var url = "api/Sysuser/QueryUser";
            var data = { "Id": id };
            var allresult = [];
            var $ = layui.jquery,
                form = layui.form;
            treeSelect.render({
                elem: '#tree',
                url: setter.baseurl + 'api/Sysrole/Querydepartment',
                data: { Id: -1 },
                headers: { "access_token": layui.data('layuiAdmin').access_token },
                type: 'post',
                placeholder: '请选择',
                search: true,
                style: {
                    folder: {
                        enable: true
                    },
                    line: {
                        enable: true
                    }
                },
                click: function(d) {
                    $('[name="parentid"]').val(d.current.Id);
                },
                success: function(d) {
                    treeSelect.checkNode('tree', 3);
                    var treeObj = treeSelect.zTree('tree');
                    treeSelect.refresh('tree');
                }
            });
            form.on('submit(save)', function(data) {
                var saveoption = {
                    url: 'api/Sysrole/adddepartment',
                    data: data.field,
                    tableid: tableid,
                    callBack: function(result) {
                        if (result.Code == 0) {
                            layer.close(layerindex);
                        }
                    }
                }
                doc.Submit(saveoption);
                return false;
            });
        });
    }
    </script>
</body>

</html>