<link href="../../../../Content/hsc-form.css" rel="stylesheet" />
<style>
    .child-view{
	padding: 20px 10px;
}

    </style>
<script>
    var tuizulist = [];
      function LoadData(id,tableid,layerindex){
        layui.extend({
        	tablePlug: '{/}layui/lay/plug/tablePlug'
        }).use(['laypage', 'layer', 'laytpl', 'jquery', 'form', 'setter', 'tablePlug'], function () {
        	var setter = layui.setter;
    		var baseurl = setter.baseurl;
            var laytpl = layui.laytpl;
            var $ = layui.jquery;
            var form = layui.form;
            var checkarr=[];
            var table=layui.table;
            var url =  "api/House/Queryhousedepart";
            var submitUrl = "api/Procedure/distributiondepart";
            var doc = layui.htcsLG;
            var tablePlug = layui.tablePlug;

            var cols=[[ //表头
                 { type: 'checkbox'}
                ,{ field: 'id', width: 80, title: '编号' }
              , { field: 'CityName', width: 180, title: '城市' }
              , { field: 'CellName', width: 180, title: '小区' }
              , { field: 'Name', width: 280, title: '地址'}
              , {field: 'RecentType', width: 100, title: '房源类型', templet: houseType}
              , {field: 'storename', width: 120, title: '分配状态', templet: disStatus}
            ]];
            doc.objectQuery('api/House/checkQueryhousedepart', {"storeid":id}, function (result) {  
                debugger; 
                tablePlug.tableCheck.init('distribution-table',result.numberData,'id');
                table.render({
            	id: 'distribution-table',
            	elem: '#distribution-table',
            	url: baseurl + url,
            	cols: cols,
            	height: 'full-220',
            	method: 'post',
            	toolbar: '#toolbarDemo',
            	where: {
            		"access_token": layui.data('layuiAdmin').access_token
            	},
            	request: {
            		pageName: 'pageindex' //页码的参数名称，默认：page
                        ,
                    limitName: 'pagesize' //每页数据量的参数名，默认：limit
            	},
            	responseHandler: function(data) {

                    return {
                        "total": data.numberCount, //总页数
                        "rows": data.numberData //数据
                    };
                },
            	response: {
                    statusName: 'Code' //数据状态的字段名称，默认：code
                        ,
                    statusCode: 0 //成功的状态码，默认：0
                        ,
                    msgName: 'Message' //状态信息的字段名称，默认：msg
                        ,
                    countName: 'numberCount' //数据总数的字段名称，默认：count
                        ,
                    dataName: 'numberData' //数据列表的字段名称，默认：data
                },
                queryParams: function queryPara(param) {
                    param.offset = param.offset / 10 + 1;
                    var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                        PageSize: param.limit, //页面大小
                        PageIndex: param.offset, //页码
                    };
                    var object = $.extend({}, temp, options.search);
                    return object;
                },
                
                page: true,
                checkStatus: {},
                primaryKey: 'id'
            });
            table.on('toolbar(distribution-table)', function(obj){
                var layEvent = obj.event;
                debugger;
            	if(layEvent === 'distribute'){
            		var arr = table.checkStatus('distribution-table', true).dataCache;
            		var ids = arr.map(function(obj){return obj.id}).join(',');
            		var tjdata = {
            			Ids: ids,
                        Other1: id
                     
            		}
      				$.ajax({
      					url: baseurl + submitUrl,
		                type: "POST",
		                async: false,
		                data: tjdata,
		                headers: {
		                    access_token: layui.data('layuiAdmin').access_token
		                },
		                dataType: 'json',
		                success: function(resultData){
		                	if (resultData.Code == 0) {
				                
				                layer.msg(resultData.Message, {
						            icon: 1,
						            time: 800//2秒关闭（如果不配置，默认是3秒）
						        },function(){
						        	layer.close(layerindex);
						        	table.reload(tableid);
						        });
				            }
		                }
      				})
         			return false; 
            	}
            });
            });
            
        });
      }

      function disStatus(value){
      	if (!value.storename) {
            return '<div>' + "未分配" + '</div>'
        }else{
        	return '<div>' + value.storename + '</div>'
        }
      }

      function houseType(value){
      	if (value.RecentType == 2) {
            return '<div>' + "合租" + '</div>'
        } 
        if (value.RecentType == 1) {
            return '<div>' + "整租" + '</div>'
        } 
        if (value.RecentType == 3) {
            return '<div>' + "独栋" + '</div>'
        }
      }
</script>
<script type="text/html" template>
    {{#  LoadData(d.params.id,d.params.tableid,d.params.layerindex)}}
</script>
<script id="departdistributionscript" type="text/html">
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container layui-inline">
    <span class="layui-btn layui-btn-sm" lay-event="distribute">分配</span>
  </div>
</script>
<div id="depart-distribution-view" class="child-view form-wrapper">
    <table id="distribution-table" lay-filter="distribution-table"></table>
</div>