<link href="../../../../Content/hsc-form.css" rel="stylesheet" />
<script src="../../../../Scripts/jquery-1.10.2.js"></script>
<style>
    .layui-table-cell{
   overflow:visible !important;
}
.form-content thead tr{height: 45px;}
.form-content tbody tr{height: 55px;}
.layui-form-select ul{
  z-index:999999
}
.layui-table-view .layui-table td[data-field="Image"] div{
  overflow: hidden !important;
}
</style>
<script>
    var bxTypeList = [],bxIndex = 0,table,tabbleid="repairelistaddtable",doc;
      function LoadData(parentid,tableid,layerindex){
        layui.use(['laypage', 'layer', 'laytpl', 'jquery', 'form'], function () {
            var laytpl = layui.laytpl;
            doc = layui.htcsLG;
            var $ = layui.jquery;
            var form = layui.form;
            var laydate = layui.laydate;
            var  houseid=0;
            var url1 ="api/BaseData/Queryfgy";
            table=layui.table;
            $("#cancelbtn").click(function(){
            layer.close(layerindex);
            return false;
            }); 
            form.render();
            //监听提交
           form.on('submit(save)', function (data) {
               debugger;
           var datafield=data.field;
           datafield.parentid = parentid;
           var tjdata =datafield;
           var saveoption={
           url:'api/Renovationlist/Save',
           data:tjdata,
           tableid:tableid,
           callBack:function(resultData){
            if (resultData.Code == 0) {
                layer.close(layerindex);
            }
          }
        }
        doc.Submit(saveoption);
        return false;
        });

        $("#addimage").click(function () {
                 debugger;
                 var addid="layui-contract-addimage";
                 var view = layui.view;
                 layer.open({
                    id:addid,
                    type: 1,
                    title: '上传文件',
                    skin: 'two-layer',
                    //anim: 4,
                    shadeClose: true,//开启遮罩关闭
                    //shade: ['0.5'],
                    maxmin: true, //开启最大化最小化按钮
                    area:['800px', '500px'],
                    success: function(layero,index){
                        view(this.id).render('upload/index', {
                            img:$("#Image").val(),
                            type:1,
                            layerindex:index
                        });
                      }
                });  
               });
               $("#addzjimage").click(function () {
                    debugger;
                 var addid="layui-contract-addzjimage";
                 var view = layui.view;
                 indexclose=layer.open({
                    id:addid,
                    type: 1,
                    title: '上传文件',
                    skin: 'two-layer',
                    //anim: 4,
                    shadeClose: true,//开启遮罩关闭
                    //shade: ['0.5'],
                    maxmin: true, //开启最大化最小化按钮
                    area:['800px', '500px'],
                    success: function(layero,index){
                        view(this.id).render('upload/index', {
                            img:$("#Image").val(),
                            type:2,
                            layerindex:index
                        });
                      }
                });  
               });
        });
      }
      function complteimg(name,type, number){
        layui.use(['jquery'], function () {
            var $ = layui.jquery;
            if(type==1){
             $("#Image").val(name);
             $("#imgnumber").html(number);
            }
            if(type==2){
             $("#zjImage").val(name);
             $("#imgzjnumber").html(number);
            }
        })
      }
</script>

<body>
    <script type="text/html" template>
        {{#  LoadData(d.params.parentid,d.params.tableid,d.params.layerindex)}}
        </script>
        <div  class="form-wrapper">
                <form class="layui-form  layui-form-pane hcs-form form-panel" action="" >
                        <div class="form-content">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">流程</label>
                                    <div class="layui-input-inline" style="width:300px;">
                                            <select name="process" lay-verify="required" id="process">
                                                    <option value="">请选择</option>
                                                    <option value="清洁">清洁</option>
                                                    <option value="大白">大白</option>
                                                    <option value="延后">延后</option>
                                            </select>
                                    </div>
                                    <label class="layui-form-label">金额</label>
                                    <div class="layui-input-inline" style="width: 200px;">
                                            <input type="tel" lay-verify="required" name="amount" autocomplete="off" class="layui-input" id="amount">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-inline" style="width: 200px;">
                                        <textarea name="bank" lay-verify="required" id="bank" placeholder="备注" class="layui-textarea"></textarea>                </div>
                            </div>
                            <div class="layui-form-item">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">附件</label>
                                        <div class="layui-input-block">
                                            <a class="layui-btn layui-btn-primary" id="addimage"><i class="layui-icon">&#xe608;</i> 清单<span class="layui-badge layui-bg-gray" id="imgnumber">0</span></a>
                                            <input type="tel" name="detailedlist" autocomplete="off" class="layui-input gray" disabled  id="Image" >
                                        </div>
                                        <div class="layui-input-block">
                                                <a class="layui-btn layui-btn-primary" id="addzjimage"><i class="layui-icon">&#xe608;</i> 现场图片<span class="layui-badge layui-bg-gray" id="imgzjnumber">0</span></a>
                                                <input type="tel" name="scene" autocomplete="off" class="layui-input gray" disabled id="zjImage">
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-wrap">
                                <button class="layui-btn layui-btn layui-btn-primary" id="cancelbtn" >取消</button>
                                <button class="layui-btn" id="save" lay-filter="save" lay-submit="">保存</button>
                            </div>
                        </div>
                    </form>
        </div>
    
</body>
<script src="../../../../Scripts/Common/jquery.autocomplete.js"></script>
<link href="../../../../Content/jquery.autocomplete.css" rel="stylesheet" />